{
  "presets": [
    [
      "@babel/preset-env", {
        "useBuiltIns": false
      }
    ]
  ],
  "plugins": [
    [
      "prismjs", {
        "languages": [
          "bash",
          "batch",
          "diff",
          "git",
          "javascript",
          "json",
          "lisp",
          "lua",
          "perl",
          "scss",
          "sql",
          "visual-basic"
        ],
        "plugins": [
          "line-numbers",
          "line-highlight"
        ],
        "css": false
      }
    ]
  ]
}
