<!DOCTYPE html>
<html lang="ja" itemscope itemtype="https://schema.org/Blog">
<head>
<meta name="viewport" content="width=device-width,initial-scale=1">
<!--$ /* HeadSectionCommon */ $-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="icon" href="/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="alternate" type="application/rss+xml" title="RSS" href="https://tokunakimochi.blog.jp/index.rdf">
<link rel="alternate" type="application/atom+xml" title="Atom" href="https://tokunakimochi.blog.jp/atom.xml">
<link rel="openid.server" href="https://auth.livedoor.com/openid/server">
<link rel="next" href="https://tokunakimochi.blog.jp/?p=2">


<meta property="description" content="Mac と Windows でつまずいたことなどのメモと、将来もう一度役立ちそうな環境構築手順などのまとめ。
執筆時、Git + dotfiles の外にあったもの。" />
<meta property="og:type" content="blog" />
<meta property="og:title" content="Windows Subsystem for Linux : メモときどきマトメも" />
<meta property="og:description" content="Mac と Windows でつまずいたことなどのメモと、将来もう一度役立ちそうな環境構築手順などのまとめ。
執筆時、Git + dotfiles の外にあったもの。" />
<meta property="og:url" content="https://tokunakimochi.blog.jp/archives/cat_1267317.html" />
<meta property="og:site_name" content="メモときどきマトメも" />
<meta property="og:locale" content="ja_JP" />
<meta property="og:image" content="https://livedoor.blogimg.jp/tokunakimochi/imgs/8/3/8348c778.png" />

<meta name="twitter:title" content="Windows Subsystem for Linux : メモときどきマトメも" />
<meta name="twitter:description" content="Mac と Windows でつまずいたことなどのメモと、将来もう一度役立ちそうな環境構築手順などのまとめ。
執筆時、Git + dotfiles の外にあったもの。" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image:src" content="https://livedoor.blogimg.jp/tokunakimochi/imgs/8/3/8348c778.png" />
<link rel="alternate" media="handheld" type="application/xhtml+xml" href="https://tokunakimochi.blog.jp/">

<title>Windows Subsystem for Linux : メモときどきマトメも</title>
<!--[if lt IE 9]>
<script src="https://parts.blog.livedoor.jp/js/html5.js"></script>
<![endif]-->
<!-- jquery-1.7.1.min.js と design.js（livedoor 製ガジェット用のJs）の読み込みを off
<script src="https://parts.blog.livedoor.jp/js/usr/import.js"></script> -->
<!-- Add Header Tag // -->
<link rel="stylesheet" href="/tokunakimochi-blog-jp.min.css">
<link rel="stylesheet" href="https://tokunakimochi.github.io/Nivo-Lightbox/nivo-lightbox.min.css">
<script defer src="https://ajax.googleapis.com/ajax/libs/hammerjs/2.0.8/hammer.min.js"></script>
<script defer src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script defer src="/tokunakimochi-blog-jp.min.js"></script>
<script defer src="https://parts.blog.livedoor.jp/js/design.js"></script>
<script defer src="https://tokunakimochi.blog.jp/js/ie-buster.min.js"></script>
<script defer src="https://tokunakimochi.blog.jp/js/iebuster.opt.js"></script>
<!-- // Add Header Tag -->



<meta name="referrer" content="always">
<meta name="referrer" content="unsafe-url">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-1638469-45"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

var blogId = '5916597';
if (blogId) {
  gtag('config', 'UA-1638469-45', {
    'custom_map': {'dimension1': 'blog_id'},
    'blog_id': blogId
  });
} else {
  gtag('config', 'UA-1638469-45');
}
</script>
</head>
<body class="default_2012 page-category layout-2col"><script type="text/javascript"><!--
var ld_blog_vars = {
  provider_id : '1',
  provider_name : 'livedoor',
  id : '5916597',
  name : 'tokunakimochi',
  charset : 'utf8',
  url : 'https://tokunakimochi.blog.jp/',
  title : 'メモときどきマトメも',
  blog_design: {
      version: 1
  },
  blog_category: {
    id: '160',
    permalink: 'https://blog.livedoor.com/category/160/',
    name: 'IT・家電(総合) > プログラミング',
    is_adult : 0,
    is_gambling : 0,
    hierarchy: [{ id: '125', name: 'IT・家電(総合)', permalink: 'https://blog.livedoor.com/category/125/' },{ id: '160', name: 'プログラミング', permalink: 'https://blog.livedoor.com/category/160/' }]
  },
  current_page : {
    type : 'category',
    category : '1267317', name : 'Windows Subsystem for Linux',    page : '1'
  },
  articles : [  ]
};
//-->
</script><div id="analyzer_tags" style="display:none">
<script type="text/javascript" src="https://parts.blog.livedoor.jp/js/c2.js?v=20191010"></script>
<script type="text/javascript">blog_counter('tokunakimochi', 5916597, 'https://tokunakimochi.blog.jp/')</script>
</div><script type="text/javascript" src="https://parts.blog.livedoor.jp/js/smartphone.js?v=20200824"></script>
<script type="text/javascript" src="https://tokunakimochi.blog.jp/settings/header.js?v=20190705"></script><script type="text/javascript" src="https://tokunakimochi.blog.jp/settings/ad.js"></script>
<script type="text/javascript">
var palette_src = 'https://parts.blog.livedoor.jp/img/emoji/2/palette.png';
if (typeof IMAGE_CACHE == 'object' && IMAGE_CACHE['emoji_palette']) IMAGE_CACHE['emoji_palette'].src = palette_src;
</script>

<!-- Blog Common Header // -->
<!-- // Blog Common Header -->


<div id="wrapper">

<div id="container">

<!-- ブログタイトル、説明 -->
<header id="blog-header">
	<hgroup>
		<h1 id="blog-title"><a href="https://tokunakimochi.blog.jp/">メモときどきマトメも</a></h1>
		<h2 id="blog-description">Mac と Windows でつまずいたことなどのメモと、将来もう一度役立ちそうな環境構築手順などのまとめ。
執筆時、Git + dotfiles の外にあったもの。</h2>
	</hgroup>
</header>
<!-- /ブログタイトル、説明 -->

<div id="content">

<div id="main" class="column">
<div id="main-inner">

<header class="archives-header" id="category-header">
<h1>




カテゴリ：<a href="https://tokunakimochi.blog.jp/archives/cat_1246745.html">Windows</a> &gt;
Windows Subsystem for Linux

</h1>
</header>

<!-- ArticlesLoop Start -->
<!-- google_ad_section_start -->


<script type="text/javascript"><!--
  if (ld_blog_vars) {
     ld_blog_vars.articles.push({
       id : '1074874898',
       permalink : 'https://tokunakimochi.blog.jp/archives/1074874898.html',
       title : 'Spacemacs on WSL を使い易く',
       categories : [ { id:'1267400', name:'Spacemacs', permalink:'https://tokunakimochi.blog.jp/archives/cat_1267400.html' }, { id:'1267317', name:'Windows Subsystem for Linux', permalink:'https://tokunakimochi.blog.jp/archives/cat_1267317.html' } ],
       date : '2019-06-06 21:13:16'
     });
  }
//-->
</script>



<!--
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/"
         xmlns:dc="http://purl.org/dc/elements/1.1/">
<rdf:Description
    rdf:about="https://tokunakimochi.blog.jp/archives/1074874898.html"
    trackback:ping="http://trackback.blogsys.jp/livedoor/tokunakimochi/1074874898"
    dc:title="Spacemacs on WSL を使い易く"
    dc:identifier="https://tokunakimochi.blog.jp/archives/1074874898.html"
    dc:subject="Spacemacs,Windows Subsystem for Linux"
    dc:description="[前回のエントリー][ 001 ]で導入した Spacemacs on WSL が（非常に遅い以外[ 002 ]）良い感じなので、少しだけブラッシュアップを図ります。### WSL 側で IME を自動で ON`~/.zprofile` に以下の内容を追記します。X サーバが未起動だとトラぶる[ 003 ]様なのでチェッ"
    dc:creator="tokunakimochi"
    dc:date="2019-06-06T21:13:16+09:00" />
</rdf:RDF>
-->
<div id="ad_rs" class="ad_rs_b"></div>
<!-- 記事全体 -->
<article class="article first-article" itemscope itemtype="https://schema.org/BlogPosting">
<!-- 記事ヘッダー、記事タイトル -->
<header class="article-header">
	<p class="article-date"><time datetime="2019-06-06T21:13:16+09:00" pubdate="pubdate" title="2019-06-06T21:13:16+09:00"><span class="article-date-year">2019</span><span class="article-date-month">Jun</span><span class="article-date-day">6</span></time></p>
	<h1 class="article-title" itemprop="name"><a href="https://tokunakimochi.blog.jp/archives/1074874898.html" itemprop="url">Spacemacs on WSL を使い易く</a></h1>

</header>
<!-- /記事ヘッダー、記事タイトル -->

<!-- 記事本文 -->
<div class="article-body">
	<div class="article-body-inner">

	  <textarea id="mdp1074874898" class="markdown" disabled>

&gt; ### += test --scroll-x ###
&gt; ~~~test
&gt; test()test()test()test()test()test()test()test()test()test()test()test()test()test()test()test()test()test()test()test()test()test()test()test()test()test()test()
&gt; ~~~

[前回のエントリー][ 001 ]で導入した Spacemacs on WSL が（非常に遅い以外[ 002 ]）良い感じなので、少しだけブラッシュアップを図ります。

&lt;http://tokunakimochi.blog.jp/archives/1073947210.html&gt;

### WSL 側で IME を自動で ON

`~/.zprofile` に以下の内容を追記します。X サーバが未起動だとトラぶる[ 003 ]様なのでチェックを入れています。

顔文字テスト (-_-;) 顔文字テスト (-_-;) 顔文字テスト

### += ~/.zprofile ###
~~~zsh
if [[ $(/mnt/c/Windows/System32/tasklist.exe | grep vcxsrv | wc -l) ]]; then
    (fcitx-autostart &gt; /dev/null 2&gt;&amp;1 &amp;)
fi
~~~

### Windows から Spacemacs を直接起動

[VBScript][ 004 ] を活用すると、拡張子 `.vbs` で作成したスクリプトファイルをダブルクリックするなどして、Spacemacs が（WSL のターミナルを経由せずに）一発で起動可能になります。以下がコードです。上の zsh 同様、X サーバの起動チェックを最初にしています。日本語を含んでいるので、`Shift-JIS` で保存します。

### += 任意の名前.vbs ###
~~~vbs
Option Explicit

Dim argArr: Set argArr = WScript.Arguments
Dim xServerName: xServerName = &quot;vcxsrv.exe&quot;

Dim oService: Set oService = CreateObject(&quot;WbemScripting.SWbemLocator&quot;).ConnectServer
Dim colProcesses: Set colProcesses = oService.ExecQuery(&quot;SELECT * FROM Win32_Process WHERE Name = '&quot; &amp; xServerName &amp; &quot;'&quot;)

Set oService = Nothing

If colProcesses.Count = 0 Then
    MsgBox &quot;先に X サーバを立ち上げてください。&quot; &amp; vbCrLf &amp; &quot;想定プロセス名は &quot; &amp; xServerName &amp; &quot; です。&quot;

    Set colProcesses = Nothing
    WScript.Quit(1)
End If

Set colProcesses = Nothing

Dim oShell: Set oShell = CreateObject(&quot;WScript.Shell&quot;)
Dim strArgs: strArgs = &quot;wsl zsh -c 'emacs'&quot;

If argArr.Count = 1 Then
    oShell.CurrentDirectory = argArr(0)
End If

oShell.Run strArgs, 0, false

Set oShell = Nothing
~~~

### Windows Explorer の右クリックメニューに登録

エクスプローラで開いているフォルダをカレントディレクトリとして起動するメニューをコンテキストメニューに登録します。ただし、*{レジストリ エディター (regedit)}* でレジストリを直接いじります。具体的には `HKEY_CURRENT_USER\Software\Classes\Directory\Background` 以下にキーを３階層追加します。以下は例です。

&gt; `HKEY_CURRENT_USER\Software\Classes\Directory\Background\shell\wsl-emacs\command`
&gt;
&gt; -- 追加するキーの例

`\` は階層を表しています。なぜ「例」かと言うと、作成するレジストリキーの中に命名の自由を認められたキーがあるからです。以下の表で確認してください。

| 新規キー名                            | 命名規則                | 編集の必要性 |
|:--------------------------------------:|:------------------------:|:------------------:|
| ...\\Background\\**shell**       | 規定値。変更不可 | 無し                |
| ...\\shell\\**wsl-emacs**         | 任意の文字列         | あり               |
| ...\\wsl-emacs\\**command** | 規定値。変更不可 | あり                |

レジストリ エディターで新規キーを作成するには、左ペインで親キーを右クリック &gt; *|新規(N)|* &gt; *|キー(K)|* と手繰ります。また、表にある編集とは、キーにデータを付加することです。これは、右ペインの *{(既定)}* を右クリック &gt; *|修正(M)...|* をクリックして、出現したダイアログの *{値のデータ(V):}* を編集します。以下にそれぞれの例を示します。

&gt; ### += 値のデータ(V): ###
&gt; ~~~txt
&gt; Spacemacsをここで開く
&gt; ~~~
&gt;
&gt; -- wsl-emacs キーの (既定) の「文字列の編集」の例

&gt; ### += 値のデータ(V): ###
&gt; ~~~cmd
&gt; wscript.exe &quot;C:\usr\bin\spacemacs.vbs&quot; &quot;%V&quot;
&gt; ~~~
&gt;
&gt; -- command キーの (既定) の「文字列の編集」の例

前者はコンテキストメニューに実際に表示される文字列です。後者は上で作成したスクリプトファイルの実際の絶対パスに置き換えてください。これで、エクスプローラからカレントディレクトリを指定して Spacemacs を起動することができるようになりました。

#### 参考サイト

* WSL 側で IME を自動で ON
    * [WSLでMozcで日本語入力](http://utimukat55.blogspot.com/2018/11/wslmozc.html &quot;気づいたらガジェ獣&quot;)
* Windows から Spacemacs を直接起動
    * [Question: how to create a windows shortcut for a Graphic linux app?](https://github.com/Microsoft/WSL/issues/3404#issuecomment-408094942 &quot;Issue #3404 · microsoft/WSL · GitHub&quot;)
    * [Some notes on &quot;Configuring a pretty and usable terminal emulator for WSL&quot;](https://gist.github.com/GregRos/7e9c67f150c9dc80843bdf85028f1789 &quot;GitHub&quot;)
    * [[VBScript] 指定した名前のプロセスが存在するか調べる](https://yozda.exblog.jp/15574326/ &quot;（ どーもボキです ＞ Z_￣∂&quot;)
* Windows Explorer の右クリックメニューに登録
    * [任意のフォルダを右クリックして、Cygtermで開く](http://d.hatena.ne.jp/kkotaro0111/20120521/1337595346 &quot;UTAGEWORKS&quot;)
    * [［Shift］＋右クリックメニューに「コマンドウィンドウをここで開く」を復活させる方法](https://www.atmarkit.co.jp/ait/articles/1709/15/news025.html &quot;Tech TIPS - ＠IT&quot;)
    * [コンテキストメニューに任意のアプリケーションを追加する](https://laboradian.com/add-item-to-context-menu/ &quot;ラボラジアン&quot;)
    * [右クリックからmintty(bash)を開く](http://espresso3389.hatenablog.com/entry/20111001/1317466533 &quot;espresso3389の日記&quot;)

![crystaldiskinfo][ crystaldiskinfo ]

[ crystaldiskinfo ]: https://cldup.com/ZAGF7klv5F.png &quot;#dl {lbox:[]}&quot;

[ 001 ]: http://tokunakimochi.blog.jp/archives/1073947210.html
[ 002 ]: #f &quot;{WSL 2 が発表された}(https://devblogs.microsoft.com/commandline/announcing-wsl-2/ 'Announcing WSL 2 | Windows Command Line Tools For Developers')ので気長に待ちましょう&quot;
[ 003 ]: #f &quot;単純に fcitx-autostart を呼ぶと X サーバなしではシェルが立ち上がってこない&quot;
[ 004 ]: https://msdn.microsoft.com/ja-jp/library/cc392489.aspx &quot;Microsoft Visual Basic Scripting Edition&quot;
	</textarea>
	<dl class="article-tags"><dt>タグ ：</dt><dd><a href="https://tokunakimochi.blog.jp/tag/Spacemacs" title="Spacemacs タグの一覧へ">Spacemacs</a></dd><dd><a href="https://tokunakimochi.blog.jp/tag/Emacs" title="Emacs タグの一覧へ">Emacs</a></dd><dd><a href="https://tokunakimochi.blog.jp/tag/Fcitx" title="Fcitx タグの一覧へ">Fcitx</a></dd><dd><a href="https://tokunakimochi.blog.jp/tag/VBScript" title="VBScript タグの一覧へ">VBScript</a></dd><dd><a href="https://tokunakimochi.blog.jp/tag/WSL" title="WSL タグの一覧へ">WSL</a></dd><dd><a href="https://tokunakimochi.blog.jp/tag/WSL1" title="WSL1 タグの一覧へ">WSL1</a></dd></dl>

	</div>
</div>
<!-- /記事本文 -->

<!-- 記事フッター、カテゴリ、コメント、ソーシャルボタン -->
<footer class="article-footer">
	<ul class="article-meta">


		<li class="article-category">
			<dl><dt>カテゴリ:</dt><dd class="article-category1"><a href="https://tokunakimochi.blog.jp/archives/cat_1267400.html">Spacemacs</a></dd><dd class="article-category2"><a href="https://tokunakimochi.blog.jp/archives/cat_1267317.html">Windows Subsystem for Linux</a></dd></dl>
		</li>

		<li class="article-author">by <span itemprop="author">tokunakimochi</span></li>
	</ul>
        <ul class="article-social-btn">
          <li>
            <a href="https://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="basic-counter" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
          </li>
          <li>
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="記事タイトル" data-url="https://hoge.html" data-lang="en" data-show-count="false">Tweet</a>
          </li>

	</ul>
</footer>
<!-- /記事フッター、カテゴリ、コメント、ソーシャルボタン -->
</article>
<!-- /記事全体 -->

<script type="text/javascript"><!--
  if (ld_blog_vars) {
     ld_blog_vars.articles.push({
       id : '1073947210',
       permalink : 'https://tokunakimochi.blog.jp/archives/1073947210.html',
       title : 'Spacemacs on Windows Subsystem for Linux',
       categories : [ { id:'1267400', name:'Spacemacs', permalink:'https://tokunakimochi.blog.jp/archives/cat_1267400.html' }, { id:'1267317', name:'Windows Subsystem for Linux', permalink:'https://tokunakimochi.blog.jp/archives/cat_1267317.html' } ],
       date : '2019-03-31 20:17:35'
     });
  }
//-->
</script>



<!--
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/"
         xmlns:dc="http://purl.org/dc/elements/1.1/">
<rdf:Description
    rdf:about="https://tokunakimochi.blog.jp/archives/1073947210.html"
    trackback:ping="http://trackback.blogsys.jp/livedoor/tokunakimochi/1073947210"
    dc:title="Spacemacs on Windows Subsystem for Linux"
    dc:identifier="https://tokunakimochi.blog.jp/archives/1073947210.html"
    dc:subject="Spacemacs,Windows Subsystem for Linux"
    dc:description="### 動機以前から興味のあった WSL の導入ですが、[NTEmacs @ ウィキ][ 01 ]のトップページの言及> 今の所、Windows で emacs を使うには WSL's emacs on VcXsrv がベストな選択だと思っています。  > （中略）  > WSL 上で emacs を使う場合の不便な点は概ね解消されて"
    dc:creator="tokunakimochi"
    dc:date="2019-03-31T20:17:35+09:00" />
</rdf:RDF>
-->

<!-- 記事全体 -->
<article class="article last-article" itemscope itemtype="https://schema.org/BlogPosting">
<!-- 記事ヘッダー、記事タイトル -->
<header class="article-header">
	<p class="article-date"><time datetime="2019-03-31T20:17:35+09:00" pubdate="pubdate" title="2019-03-31T20:17:35+09:00"><span class="article-date-year">2019</span><span class="article-date-month">Mar</span><span class="article-date-day">31</span></time></p>
	<h1 class="article-title" itemprop="name"><a href="https://tokunakimochi.blog.jp/archives/1073947210.html" itemprop="url">Spacemacs on Windows Subsystem for Linux</a></h1>

</header>
<!-- /記事ヘッダー、記事タイトル -->

<!-- 記事本文 -->
<div class="article-body">
	<div class="article-body-inner">

	<textarea id="mdp1073947210" class="markdown" disabled>
### 動機

以前から興味のあった WSL の導入ですが、[NTEmacs @ ウィキ][ 01 ]のトップページの言及
&gt; 今の所、Windows で emacs を使うには WSL's emacs on VcXsrv がベストな選択だと思っています。
&gt; （中略）
&gt; WSL 上で emacs を使う場合の不便な点は概ね解消されていると思います。
&gt;
&gt; -- [NTEmacs @ ウィキ - 【お知らせ】][ 01 ]

と、[coLinux][ 02 ] の導入に逡巡している間に開発休止してしまったという苦い記憶から重い腰を上げてみました、、

環境は

* システムの種類
    * 64 ビット オペレーティング システム、x64 ベース プロセッサ
* エディション
    * Windows 10 Home
* バージョン
    * 1809
* ローカル アカウント
* [Scoop][ 03 ]、[Cmder][ 04 ] インストール済み
* モニター
    * BenQ X2200W
        * ２２インチ
        * 1680 × 1050 ドット  (-。－；) [ 05 ]

です

[ 01 ]: https://www49.atwiki.jp/ntemacs/ &quot;NTEmacs @ ウィキ - アットウィキ&quot;
[ 02 ]: http://www.colinux.org/ &quot;Cooperative Linux&quot;
[ 03 ]: https://scoop.sh/ &quot;A command-line installer for Windows&quot;
[ 04 ]: http://cmder.net/ &quot;Portable console emulator for Windows&quot;
[ 05 ]: #f &quot;２００８年１月３０日発売{らしい}(https://pc.watch.impress.co.jp/docs/2008/0123/benq.htm 'PC Watch')です。。。&quot;
	</textarea><span class="article-continue"><a href="https://tokunakimochi.blog.jp/archives/1073947210.html#more">続きを読む</a></span>
	<dl class="article-tags"><dt>タグ ：</dt><dd><a href="https://tokunakimochi.blog.jp/tag/Spacemacs" title="Spacemacs タグの一覧へ">Spacemacs</a></dd><dd><a href="https://tokunakimochi.blog.jp/tag/Ubuntu" title="Ubuntu タグの一覧へ">Ubuntu</a></dd><dd><a href="https://tokunakimochi.blog.jp/tag/VcXsrv" title="VcXsrv タグの一覧へ">VcXsrv</a></dd><dd><a href="https://tokunakimochi.blog.jp/tag/Mozc" title="Mozc タグの一覧へ">Mozc</a></dd><dd><a href="https://tokunakimochi.blog.jp/tag/urxvt" title="urxvt タグの一覧へ">urxvt</a></dd><dd><a href="https://tokunakimochi.blog.jp/tag/Homebrew" title="Homebrew タグの一覧へ">Homebrew</a></dd><dd><a href="https://tokunakimochi.blog.jp/tag/Emacs" title="Emacs タグの一覧へ">Emacs</a></dd><dd><a href="https://tokunakimochi.blog.jp/tag/WSL" title="WSL タグの一覧へ">WSL</a></dd><dd><a href="https://tokunakimochi.blog.jp/tag/WSL1" title="WSL1 タグの一覧へ">WSL1</a></dd></dl>

	</div>
</div>
<!-- /記事本文 -->

<!-- 記事フッター、カテゴリ、コメント、ソーシャルボタン -->
<footer class="article-footer">
	<ul class="article-meta">


		<li class="article-category">
			<dl><dt>カテゴリ:</dt><dd class="article-category1"><a href="https://tokunakimochi.blog.jp/archives/cat_1267400.html">Spacemacs</a></dd><dd class="article-category2"><a href="https://tokunakimochi.blog.jp/archives/cat_1267317.html">Windows Subsystem for Linux</a></dd></dl>
		</li>

		<li class="article-author">by <span itemprop="author">tokunakimochi</span></li>
	</ul>
        <ul class="article-social-btn">
<a href="https://b.hatena.ne.jp/entry/https://tokunakimochi.blog.jp/archives/1073947210.html"
 class="hatena-bookmark-button"
 data-hatena-bookmark-title="Spacemacs on Windows Subsystem for Linux - メモときどきマトメも"
 data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
<script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
    <script charset="utf-8" type="text/javascript">    var userAgent = window.navigator.userAgent.toLowerCase();
    if(userAgent.indexOf('msie') != -1 || userAgent.indexOf('trident') != -1) {

      document.write('<a href="https://twitter.com/intent/tweet?text=Spacemacs on Windows Subsystem for Linux - メモときどきマトメも&url=https://tokunakimochi.blog.jp/archives/1073947210.html" target="_blank"><img src="https://parts.blog.livedoor.jp/img/twitter_ie.png" width="76" height="20"></a>');

    } else {
      document.write('<a href="https://twitter.com/share" class="twitter-share-button"  data-url="https://tokunakimochi.blog.jp/archives/1073947210.html" data-text="Spacemacs on Windows Subsystem for Linux - メモときどきマトメも" data-lang="ja">Tweet</a>');
      var btn = document.getElementsByClassName('twitter-share-button');
      var el  = document.createElement('script');
      el.charset = 'utf-8';
      el.type = 'text/javascript';
      el.src = 'https://platform.twitter.com/widgets.js';
      btn[0].parentNode.insertBefore(el, btn[0].nextSibling);
    }
    </script>

	</ul>
</footer>
<!-- /記事フッター、カテゴリ、コメント、ソーシャルボタン -->
</article>
<!-- /記事全体 -->





<!-- google_ad_section_end -->
<!-- ArticlesLoop End -->

<!-- ページ送り -->

<!-- /ページ送り -->

<!-- /#main-inner --></div>
<!-- /#main --></div>

<!-- サイドバー -->
<aside id="sidebar" class="column">
<div id="sidebar-inner">




<div class="plugin-search_internal sidewrapper">
<div class="sidetitlebody">
<div class="sidetitle">Search</div>
</div>
<div class="sidetop"></div>
<div class="side">
 <form action="https://tokunakimochi.blog.jp/search" method="GET" style="padding:0;margin:0px;">
 <input type="TEXT" name="q" class="sf">
 <input type="SUBMIT" value="検索" class="sfbtn">
 </form>
</div>
<div class="sidebottom"></div>
</div><!-- // plugin-search_internal -->
<script type="text/javascript" src="https://parts.blog.livedoor.jp/plugin/ldblog_calendar_plugin.js"></script>
<script type="text/javascript">var calendar_url_pattern_hash_176156='3367761713'</script>
<script type="text/html" id="ldblog_calendar_default_template-176156">
<% month_names = ['','Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']; %>
<% month_names_long = ['','January','February','March','April','May','June','July','August','September','October','November','December']; %>
<% wdays = ['S','M','T','W','T','F','S']; %>
<% month_format = function(year, month){ return(month_names_long[month]+" "+year.toString()); }; %>
<div class="calendarheadbody"><div class="calendarhead" id="calendarhead-176156">
  &nbsp;&nbsp;<%= month_format(year, month) %>&nbsp;&nbsp;
</div></div>
<div class="caltop"></div>
<div class="calbody">
<table cellpadding="0" cellspacing="0" border="0" class="caltbl calendartable">
<tr>
  <td width="100%" class="caltblwkbg calendarwd">
    <table cellpadding="2" cellspacing="0" width="100%" border="0" class="caltblwk">
      <tr>
      <% for ( var i = 0; i < 7; i++ ) { %>
        <td width="14%" align="center" class="<% if (i == 0) { %>sun<% } else if (i == 6) { %>sat<% } else { %>weekday<% } %>"><span class="calendarweek"><%= wdays[i] %><span></td>
      <% } %>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td width="100%" class="caltbldaybg">
    <table cellpadding="2" cellspacing="0" width="100%" border="0" class="caltblday">
      <% for ( var i = 0; i < cal.length; i++ ) { %>
      <tr class="<% if (i % 2) { %>even<% } else { %>odd<% } %>">
        <% for ( var j = 0; j < cal[i].length; j++) { %>
        <td width="14%" align="center" class="caloff calendard"><span class="calendar"<% if (cal[i][j] > 0) { %> id="calendar-176156-day-<%= cal[i][j]%>"<% } %>><%= cal[i][j] %></span></td>
        <% } %>
      </tr>
    <% } %>
  </table></td>
</tr>
</table>
</div>
<div class="calbottom"></div>
</script>

<div class="plugin-calendar_default sidewrapper" id="calendarplugin-176156">
<script type="text/javascript">(function () { var ldcal = new ldBlogCalendarPlugin(176156); ldcal.init(); })();</script>
</div><!-- // plugin-calendar_default -->

<div class="plugin-recent_articles sidewrapper">
<div class="sidetitlebody">
<div class="sidetitle">最新記事</div>
</div>
<div class="sidetop"></div>
<div class="side">
<div class="sidebody"><a href="https://tokunakimochi.blog.jp/archives/1079300146.html">カーオーディオでプレイリストの代わりにシンボリックリンク</a></div>

<div class="sidebody"><a href="https://tokunakimochi.blog.jp/archives/1078700427.html">Flac はじめました</a></div>

<div class="sidebody"><a href="https://tokunakimochi.blog.jp/archives/1077295995.html">REST API サーバを Express + PostgreSQL で用意する</a></div>

<div class="sidebody"><a href="https://tokunakimochi.blog.jp/archives/1077159677.html">非同期に CRUD する React/Redux アプリの学習（後編）</a></div>

<div class="sidebody"><a href="https://tokunakimochi.blog.jp/archives/1077052416.html">非同期に CRUD する React/Redux アプリの学習（前編）</a></div>

<div class="sidebody"><a href="https://tokunakimochi.blog.jp/archives/1075803917.html">jQuery 小ネタメモ</a></div>

<div class="sidebody"><a href="https://tokunakimochi.blog.jp/archives/1075319574.html">PATH 可読性向上ワンライナー</a></div>

<div class="sidebody"><a href="https://tokunakimochi.blog.jp/archives/1075219098.html">リッチリンク VS ブログカード</a></div>

<div class="sidebody"><a href="https://tokunakimochi.blog.jp/archives/1074874898.html">Spacemacs on WSL を使い易く</a></div>

<div class="sidebody"><a href="https://tokunakimochi.blog.jp/archives/1073947210.html">Spacemacs on Windows Subsystem for Linux</a></div>
</div>
<div class="sidebottom"></div>
</div><!-- // plugin-recent_articles -->









<div class="plugin-monthly sidewrapper" id="plugin-monthly-176158">
<div class="sidetitlebody">
<div class="sidetitle">アーカイブ</div>
</div>
<div class="sidetop"></div>
<div class="side">

<div class="sidebody"><a href="https://tokunakimochi.blog.jp/archives/2021-08.html">August 2021</a></div>

<div class="sidebody"><a href="https://tokunakimochi.blog.jp/archives/2021-04.html">April 2021</a></div>

<div class="sidebody"><a href="https://tokunakimochi.blog.jp/archives/2020-04.html">April 2020</a></div>

<div class="sidebody"><a href="https://tokunakimochi.blog.jp/archives/2020-03.html">March 2020</a></div>

<div class="sidebody"><a href="https://tokunakimochi.blog.jp/archives/2019-09.html">September 2019</a></div>

<div class="sidebody"><a href="https://tokunakimochi.blog.jp/archives/2019-07.html">July 2019</a></div>

<div class="sidebody"><a href="https://tokunakimochi.blog.jp/archives/2019-06.html">June 2019</a></div>

<div class="sidebody"><a href="https://tokunakimochi.blog.jp/archives/2019-03.html">March 2019</a></div>

<div class="sidebody"><a href="https://tokunakimochi.blog.jp/archives/2018-07.html">July 2018</a></div>

<div class="sidebody"><a href="https://tokunakimochi.blog.jp/archives/2017-08.html">August 2017</a></div>

<div class="sidebody"><a href="https://tokunakimochi.blog.jp/archives/2016-06.html">June 2016</a></div>

<div class="sidebody"><a href="https://tokunakimochi.blog.jp/archives/2015-10.html">October 2015</a></div>

<div class="sidebody"><a href="https://tokunakimochi.blog.jp/archives/2015-02.html">February 2015</a></div>

<div class="sidebody"><a href="https://tokunakimochi.blog.jp/archives/2014-11.html">November 2014</a></div>

<div class="sidebody"><a href="https://tokunakimochi.blog.jp/archives/2014-10.html">October 2014</a></div>

<div class="sidebody"><a href="https://tokunakimochi.blog.jp/archives/2014-07.html">July 2014</a></div>

<div class="sidebody"><a href="https://tokunakimochi.blog.jp/archives/2014-04.html">April 2014</a></div>

<div class="sidebody"><a href="https://tokunakimochi.blog.jp/archives/2014-03.html">March 2014</a></div>

<div class="sidebody"><a href="https://tokunakimochi.blog.jp/archives/2014-01.html">January 2014</a></div>

<div class="sidebody"><a href="https://tokunakimochi.blog.jp/archives/2013-12.html">December 2013</a></div>

<div class="sidebody"><a href="https://tokunakimochi.blog.jp/archives/2013-10.html">October 2013</a></div>

</div>
<div class="sidebottom"></div>
</div><!-- // plugin-monthly -->

<div class="plugin-categorize sidewrapper" id="plugin-categorize-176159">
    <div class="sidetitlebody">
        <div class="sidetitle">カテゴリー</div>
    </div>
    <div class="sidetop"></div>
    <div class="side">







        <div class="sidebody category-parent"

          ><a href="https://tokunakimochi.blog.jp/archives/cat_39235.html">blog設定 (2)</a>

        </div>




        <div class="sidebody category-parent"

          ><a href="https://tokunakimochi.blog.jp/archives/cat_48542.html">Markdown (1)</a>

        </div>




        <div class="sidebody category-parent"

          ><a href="https://tokunakimochi.blog.jp/archives/cat_119794.html">プログラミング (6)</a>

        </div>




        <div class="sidebody category-child"

          ><a href="https://tokunakimochi.blog.jp/archives/cat_119795.html">Perl (2)</a>

        </div>




        <div class="sidebody category-child"

          ><a href="https://tokunakimochi.blog.jp/archives/cat_1270790.html">JavaScript (3)</a>

        </div>




        <div class="sidebody category-child"

          ><a href="https://tokunakimochi.blog.jp/archives/cat_1273560.html">React (2)</a>

        </div>




        <div class="sidebody category-child"

          ><a href="https://tokunakimochi.blog.jp/archives/cat_1273751.html">Express (1)</a>

        </div>




        <div class="sidebody category-parent"

          ><a href="https://tokunakimochi.blog.jp/archives/cat_119797.html">macOS (6)</a>

        </div>




        <div class="sidebody category-parent"

          ><a href="https://tokunakimochi.blog.jp/archives/cat_119800.html">データベース (2)</a>

        </div>




        <div class="sidebody category-child"

          ><a href="https://tokunakimochi.blog.jp/archives/cat_119801.html">PostgreSQL (2)</a>

        </div>




        <div class="sidebody category-parent"

          ><a href="https://tokunakimochi.blog.jp/archives/cat_119805.html">設定 (4)</a>

        </div>




        <div class="sidebody category-parent"

          ><a href="https://tokunakimochi.blog.jp/archives/cat_234030.html">Emacs (5)</a>

        </div>




        <div class="sidebody category-child"

          ><a href="https://tokunakimochi.blog.jp/archives/cat_1267400.html">Spacemacs (3)</a>

        </div>




        <div class="sidebody category-parent"

          ><a href="https://tokunakimochi.blog.jp/archives/cat_1246745.html">Windows (7)</a>

        </div>




        <div class="sidebody category-child"

          ><a href="https://tokunakimochi.blog.jp/archives/cat_1267317.html">Windows Subsystem for Linux (2)</a>

        </div>




    </div>
    <div class="sidebottom"></div>
</div><!-- // plugin-categorize -->

<div class="plugin-tag_cloud sidewrapper">
<div class="sidetitlebody">
<div class="sidetitle">タグクラウド</div>
</div>
<div class="sidetop"></div>
<div class="side">
<ul class="tagcloud">
  <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/.zshenv" title=".zshenv タグの一覧へ">.zshenv</a></li>
   <li class="tag-weight-1 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/App::cpanminus" title="App::cpanminus タグの一覧へ">App::cpanminus</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/cmd.exe" title="cmd.exe タグの一覧へ">cmd.exe</a></li>
   <li class="tag-weight-1 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/CRUD" title="CRUD タグの一覧へ">CRUD</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/DBD::Pg" title="DBD::Pg タグの一覧へ">DBD::Pg</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/el-get" title="el-get タグの一覧へ">el-get</a></li>
   <li class="tag-weight-4 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/Emacs" title="Emacs タグの一覧へ">Emacs</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/Express" title="Express タグの一覧へ">Express</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/Fcitx" title="Fcitx タグの一覧へ">Fcitx</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/Font" title="Font タグの一覧へ">Font</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/FontForge" title="FontForge タグの一覧へ">FontForge</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/GitHub" title="GitHub タグの一覧へ">GitHub</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/google-code-prettify" title="google-code-prettify タグの一覧へ">google-code-prettify</a></li>
   <li class="tag-weight-2 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/Homebrew" title="Homebrew タグの一覧へ">Homebrew</a></li>
   <li class="tag-weight-2 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/javascript" title="javascript タグの一覧へ">javascript</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/JavaScript" title="JavaScript タグの一覧へ">JavaScript</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/jquery" title="jquery タグの一覧へ">jquery</a></li>
   <li class="tag-weight-1 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/json-server" title="json-server タグの一覧へ">json-server</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/Markdown" title="Markdown タグの一覧へ">Markdown</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/marked" title="marked タグの一覧へ">marked</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/Mercurial" title="Mercurial タグの一覧へ">Mercurial</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/Mozc" title="Mozc タグの一覧へ">Mozc</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/node" title="node タグの一覧へ">node</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/Node.js" title="Node.js タグの一覧へ">Node.js</a></li>
   <li class="tag-weight-1 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/OSX" title="OSX タグの一覧へ">OSX</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/PATH" title="PATH タグの一覧へ">PATH</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/percol" title="percol タグの一覧へ">percol</a></li>
   <li class="tag-weight-2 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/Perl" title="Perl タグの一覧へ">Perl</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/perl" title="perl タグの一覧へ">perl</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/pip" title="pip タグの一覧へ">pip</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/Plack" title="Plack タグの一覧へ">Plack</a></li>
   <li class="tag-weight-2 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/PostgreSQL" title="PostgreSQL タグの一覧へ">PostgreSQL</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/powershell" title="powershell タグの一覧へ">powershell</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/PSGI" title="PSGI タグの一覧へ">PSGI</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/pwsh" title="pwsh タグの一覧へ">pwsh</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/python" title="python タグの一覧へ">python</a></li>
   <li class="tag-weight-1 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/react" title="react タグの一覧へ">react</a></li>
   <li class="tag-weight-1 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/react-redux" title="react-redux タグの一覧へ">react-redux</a></li>
   <li class="tag-weight-1 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/redux" title="redux タグの一覧へ">redux</a></li>
   <li class="tag-weight-1 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/redux-thunk" title="redux-thunk タグの一覧へ">redux-thunk</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/REST" title="REST タグの一覧へ">REST</a></li>
   <li class="tag-weight-2 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/Spacemacs" title="Spacemacs タグの一覧へ">Spacemacs</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/ssh" title="ssh タグの一覧へ">ssh</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/SSH" title="SSH タグの一覧へ">SSH</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/Ubuntu" title="Ubuntu タグの一覧へ">Ubuntu</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/urxvt" title="urxvt タグの一覧へ">urxvt</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/VBScript" title="VBScript タグの一覧へ">VBScript</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/VcXsrv" title="VcXsrv タグの一覧へ">VcXsrv</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/Windows" title="Windows タグの一覧へ">Windows</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/Windows10" title="Windows10 タグの一覧へ">Windows10</a></li>
   <li class="tag-weight-1 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/WSL" title="WSL タグの一覧へ">WSL</a></li>
   <li class="tag-weight-1 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/WSL1" title="WSL1 タグの一覧へ">WSL1</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/Xcode" title="Xcode タグの一覧へ">Xcode</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/Yosemite" title="Yosemite タグの一覧へ">Yosemite</a></li>
   <li class="tag-weight-2 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/zsh" title="zsh タグの一覧へ">zsh</a></li>
   <li class="tag-weight-0 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/%E3%83%AF%E3%83%B3%E3%83%A9%E3%82%A4%E3%83%8A%E3%83%BC" title="ワンライナー タグの一覧へ">ワンライナー</a></li>
   <li class="tag-weight-1 tag-lifetime-4"><a href="https://tokunakimochi.blog.jp/tag/%E9%9D%9E%E5%90%8C%E6%9C%9F%E5%87%A6%E7%90%86" title="非同期処理 タグの一覧へ">非同期処理</a></li>
 </ul>
</div>
<div class="sidebottom"></div>
</div><!-- // plugin-tag_cloud -->





</div>


</aside>
<!-- /サイドバー -->

<p class="to-pagetop"><a href="#"><img src="https://parts.blog.livedoor.jp/img/usr/default_2012/common/to_pagetop.png" width="70" height="70" alt="このページのトップヘ"></a></p>

<!-- /#content --></div>
<!-- /#container --></div>

<!-- ブログのフッター -->
<footer id="blog-footer">
<!-- Blog Custom Footer // -->
<div id="footer">
  <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  <div>Powered by <a href="http://blog.livedoor.com/" title="ライブドアブログ">ライブドアブログ</a></div>
</div>
<!-- // Blog Custom Footer -->
<!-- <💲BlogFooter💲> -->
</footer>
<!-- /ブログのフッター -->

<!-- /#wrapper --></div>

<!-- Add Body Tag // --> <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script type="text/javascript">
(function(){
  var traq = document.createElement('script'); traq.type = 'text/javascript'; traq.async = true;
  traq.src = 'https://t.blog.livedoor.jp/u.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(traq, s);
})();
</script>
<noscript>
<img src="https://t.blog.livedoor.jp/u.gif" alt="traq">
</noscript>
<!-- // Add Body Tag -->

<script>
(function($) {
  var cookieName = 'livedoor-blog-gdpr-agreed';
  $(document).ready(function() {
    if (navigator.userAgent.match(/https?:\/\//)) {
      // UA に http:// or https:// があればスルー
      return;
    }

    var agreed = document.cookie.indexOf(cookieName) >= 0;
    if (agreed) {
      // 同意済み Cookie があればスルー
      return;
    }

    var banner = $('<div>');
    banner.attr('id', 'gdpr-banner');
    var label = $('<p>');
    label.html('\
      ライブドアブログでは広告のパーソナライズや効果測定のためクッキー(cookie)を使用しています。<br>\
      このバナーを閉じるか閲覧を継続することでクッキーの使用を承認いただいたものとさせていただきます。<br>\
      また、お客様は当社パートナー企業における所定の手続きにより、クッキーの使用を管理することもできます。<br>\
      詳細は<a href="http://www.livedoor.com/rules/" target="_blank" style="color:#023780;text-decoration:underline;">ライブドア利用規約</a>をご確認ください。\
    ');
    banner.append(label);

    var closeButton = $('<button>');
    closeButton.attr('type', 'button');
    closeButton.html('閉じる');
    closeButton.on('click', function() {
      $('#gdpr-banner').hide();
      document.cookie = cookieName + '="1";expires=Tue, 31-Dec-2037 00:00:00 GMT;path=/;';
    });
    banner.append(closeButton);

    banner.css({
      'position': 'fixed',
      'left': '0',
      'right': '0',
      'bottom': '0',
      'background': '#dcdcdc',
      'color': '#000',
      'padding': '20px',
      'text-align': 'center',
      'box-shadow': '0 -2px 2px rgba(102, 102, 102, 0.86)',
      'z-index': '2147483647',
    });
    label.css({
      'display': 'inline-block',
      'text-align': 'left',
      'font-size': '14px',
      'color': '#000',
      'vertical-align': 'middle',
      'line-height': '1.5',
    });
    closeButton.css({
      'display': 'inline-block',
      'color': '#fff',
      'border': 'none',
      'font-size': '14px',
      'padding': '4px 40px',
      'margin-left': '40px',
      'background': '#535353',
      'vertical-align': 'middle',
    });

    var script = document.createElement('script');
    script.type = "text/javascript";
    script.src = "https://ipcheck.blogsys.jp/check.js?t=" + Date.now();
    script.onerror = function() {
      $('body').append(banner);
    };
    document.body.appendChild(script);
  });
})(jQuery);
</script>
</body>
</html>
