<!DOCTYPE html>
<html lang="ja" itemscope itemtype="http://schema.org/Blog">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--$ /* HeadSectionCommon */ $-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="http://livedoor.blogimg.jp/tokunakimochi/imgs/9/1/favicon.ico" />
    <link rel="icon" href="http://livedoor.blogimg.jp/tokunakimochi/imgs/9/1/91289307.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sanitize.css@10.0.0/sanitize.min.css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://tokunakimochi.blog.jp/index.rdf" />
    <link rel="alternate" type="application/atom+xml" title="Atom" href="http://tokunakimochi.blog.jp/atom.xml" />
    <link rel="openid.server" href="http://auth.livedoor.com/openid/server" />
    <link rel="openid.delegate" href="http://profile.livedoor.com/tokunakimochi/" />
    <link rel="next" href="http://tokunakimochi.blog.jp/?p=2" />
    <meta name="description" content="Mac と Windows でつまずいたことなどのメモと、将来もう一度役立ちそうな環境構築手順などのまとめ。
      執筆時、Git + dotfiles の外にあったもの。" />

    <meta property="og:type" content="blog" />
    <meta property="og:title" content="メモときどきマトメも" />
    <meta property="og:description" content="Mac と Windows でつまずいたことなどのメモと、将来もう一度役立ちそうな環境構築手順などのまとめ。
      執筆時、Git + dotfiles の外にあったもの。" />
    <meta property="og:url" content="http://tokunakimochi.blog.jp/" />
    <meta property="og:site_name" content="メモときどきマトメも" />
    <meta property="og:locale" content="ja_JP" />
    <meta property="og:image" content="http://parts.blog.livedoor.jp/img/usr/cmn/ogp_image/livedoor.png" />

    <meta name="twitter:title" content="メモときどきマトメも" />
    <meta name="twitter:description" content="Mac と Windows でつまずいたことなどのメモと、将来もう一度役立ちそうな環境構築手順などのまとめ。
      執筆時、Git + dotfiles の外にあったもの。" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image:src" content="http://parts.blog.livedoor.jp/img/usr/cmn/ogp_image/livedoor.png" />
    <link rel="alternate" media="handheld" type="application/xhtml+xml" href="http://tokunakimochi.m.blog.jp/" />

    <title>メモときどきマトメも</title>
    <!--[if lt IE 9]>
      <script src="http://parts.blog.livedoor.jp/js/html5.js"></script>
    <![endif]-->
    <!-- jquery-1.7.1.min.js と design.js（livedoor 製ガジェット用のJs）の読み込みを off
         <script src="http://parts.blog.livedoor.jp/js/usr/import.js"></script> -->


  </head>
  <body class="default_2012 page-index layout-2col"><script type="text/javascript"><!--
                                                                                   var ld_blog_vars = {
                                                                                     provider_id : '1',
                                                                                     provider_name : 'livedoor',
                                                                                     id : '5916597',
                                                                                     name : 'tokunakimochi',
                                                                                     charset : 'utf8',
                                                                                     url : 'http://tokunakimochi.blog.jp/',
                                                                                     title : 'メモときどきマトメも',
                                                                                     blog_design: {
                                                                                       version: 1
                                                                                     },
                                                                                     blog_category: {
                                                                                       id: '160',
                                                                                       permalink: 'http://blog.livedoor.com/category/160/',
                                                                                       name: 'IT・家電(総合) > プログラミング',
                                                                                       is_adult : 0,
                                                                                       is_gambling : 0,
                                                                                       hierarchy: [{ id: '125', name: 'IT・家電(総合)', permalink: 'http://blog.livedoor.com/category/125/' },{ id: '160', name: 'プログラミング', permalink: 'http://blog.livedoor.com/category/160/' }]
                                                                                     },
                                                                                     current_page : {
                                                                                       type : 'index',    page : '1'
                                                                                     },
                                                                                     articles : [  ]
                                                                                   };
                                                      //-->
  </script><div id="analyzer_tags" style="display:none">
    <script type="text/javascript" src="http://parts.blog.livedoor.jp/js/c2.js"></script>
    <script type="text/javascript">blog_counter('tokunakimochi', 5916597, 'http://tokunakimochi.blog.jp/')</script>
  </div><script type="text/javascript" src="http://parts.blog.livedoor.jp/js/smartphone.js?v=20131007"></script>
  <script type="text/javascript" src="http://tokunakimochi.blog.jp/settings/header.js"></script><script type="text/javascript" src="http://tokunakimochi.blog.jp/settings/ad.js"></script>
  <script type="text/javascript">
    var palette_src = 'http://parts.blog.livedoor.jp/img/emoji/2/palette.png';
    if (typeof IMAGE_CACHE == 'object' && IMAGE_CACHE['emoji_palette']) IMAGE_CACHE['emoji_palette'].src = palette_src;
  </script>

  <!-- Blog Common Header // -->
  <!-- // Blog Common Header -->


  <div id="wrapper">

    <div id="container">

      <!-- ブログタイトル、説明 -->
      <header id="blog-header">
	      <hgroup>
		      <h1 id="blog-title"><a href="http://tokunakimochi.blog.jp/">メモときどきマトメも</a></h1>
		      <h2 id="blog-description">Mac と Windows でつまずいたことなどのメモと、将来もう一度役立ちそうな環境構築手順などのまとめ。
            執筆時、Git + dotfiles の外にあったもの。</h2>
	      </hgroup>
      </header>
      <!-- /ブログタイトル、説明 -->

      <div id="content">

        <div id="main">
          <div id="main-inner">




            <!-- google_ad_section_start -->

            <script type="text/javascript"><!--
                                           if (ld_blog_vars) {
                                             ld_blog_vars.articles.push({
                                               id : '1074874898',
                                               permalink : 'http://tokunakimochi.blog.jp/archives/1074874898.html',
                                               title : 'Spacemacs on WSL を使い易く',
                                               categories : [ { id:'1267400', name:'Spacemacs', permalink:'http://tokunakimochi.blog.jp/archives/cat_1267400.html' }, { id:'1267317', name:'Windows Subsystem for Linux', permalink:'http://tokunakimochi.blog.jp/archives/cat_1267317.html' } ],
                                               date : '2019-06-06 21:13:22'
                                             });
                                           }
              //-->
            </script>



            <!--
                 <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                 xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/"
                 xmlns:dc="http://purl.org/dc/elements/1.1/">
                 <rdf:Description
                 rdf:about="http://tokunakimochi.blog.jp/archives/1074874898.html"
                 trackback:ping="http://trackback.blogsys.jp/livedoor/tokunakimochi/1074874898"
                 dc:title="Spacemacs on WSL を使い易く"
                 dc:identifier="http://tokunakimochi.blog.jp/archives/1074874898.html"
                 dc:subject="Spacemacs,Windows Subsystem for Linux"
                 dc:description="[前回のエントリー][ 001 ]で導入した Spacemacs on WSL が（非常に遅い以外[ 002 ]）良い感じなので、少しだけブラッシュアップを図ります。### WSL 側で IME を自動で ON`~/.zprofile` に以下の内容を追記します。X サーバが未起動だとトラぶる[ 003 ]様なのでチェック"
                 dc:creator="tokunakimochi"
                 dc:date="2019-06-06T21:13:22+09:00" />
                 </rdf:RDF>
            -->
            <div id="ad_rs" class="ad_rs_b"></div>
            <!-- 記事全体 -->
            <article class="article first-article" itemscope itemtype="http://schema.org/BlogPosting">
              <!-- 記事ヘッダー、記事タイトル -->
              <header class="article-header">
	              <p class="article-date"><time datetime="2019-06-06T21:13:22+09:00" pubdate="pubdate"><span class="article-date-year">2019</span><span class="article-date-month">Jun</span><span class="article-date-day">6</span></time></p>
	              <h1 class="article-title" itemprop="name"><a href="http://tokunakimochi.blog.jp/archives/1074874898.html" itemprop="url">Spacemacs on WSL を使い易く</a></h1>

              </header>
              <!-- /記事ヘッダー、記事タイトル -->

              <!-- 記事本文 -->
              <div class="article-body">
	              <div class="article-body-inner">

	                <textarea class="markdown" disabled>
[前回のエントリー][ 001 ]で導入した Spacemacs on WSL が（非常に遅い以外[ 002 ]）良い感じなので、少しだけブラッシュアップを図ります。

<http://tokunakimochi.blog.jp/archives/1073947210.html>

[http://tokunakimochi.blog.jp/archives/1073947210.html](http://tokunakimochi.blog.jp/archives/1073947210.html 'Spacemacs on WSL 1')

### WSL 側で IME を自動で ON

`~/.zprofile` に以下の内容を追記します。X サーバが未起動だとトラぶる[ 003 ]様なのでチェックを入れています。

### += ~/.zprofile ###
~~~zsh
if [[ $(/mnt/c/Windows/System32/tasklist.exe | grep vcxsrv | wc -l) ]]; then
    (fcitx-autostart &gt; /dev/null 2&gt;&amp;1 &amp;)
fi
~~~

### Windows から Spacemacs を直接起動

[VBScript][ 004 ] を活用すると、拡張子 `.vbs` で作成したスクリプト・ファイルをダブルクリックするなどして、Spacemacs が（WSL のターミナルを経由せずに）一発で起動可能になります。以下がコードです。上の zsh 同様、X サーバの起動チェックを最初にしています。日本語を含んでいるので、`Shift-JIS` で保存します。

### += 任意の名前.vbs ###
~~~vbs
Option Explicit

Dim argArr: Set argArr = WScript.Arguments
Dim xServerName: xServerName = &quot;vcxsrv.exe&quot;

Dim oService: Set oService = CreateObject(&quot;WbemScripting.SWbemLocator&quot;).ConnectServer
Dim colProcesses: Set colProcesses = oService.ExecQuery(&quot;SELECT * FROM Win32_Process WHERE Name = '&quot; &amp; xServerName &amp; &quot;'&quot;)

Set oService = Nothing

If colProcesses.Count = 0 Then
    MsgBox &quot;先に X サーバを立ち上げてください。&quot; &amp; vbCrLf &amp; &quot;想定プロセス名は &quot; &amp; xServerName &amp; &quot; です。&quot;

    Set colProcesses = Nothing
    WScript.Quit(1)
End If

Set colProcesses = Nothing

Dim oShell: Set oShell = CreateObject(&quot;WScript.Shell&quot;)
Dim strArgs: strArgs = &quot;wsl zsh -c 'emacs'&quot;

If argArr.Count = 1 Then
    oShell.CurrentDirectory = argArr(0)
End If

oShell.Run strArgs, 0, false

Set oShell = Nothing
~~~

### Windows Explorer の右クリック・メニューに登録

エクスプローラで開いているフォルダをカレント・ディレクトリとして起動するメニューをコンテキスト・メニューに登録します。ただし、*{レジストリ エディター (regedit)}* でレジストリを直接いじります。具体的には `HKEY_CURRENT_USER\Software\Classes\Directory\Background` 以下にキーを３階層追加します。以下は例です。

&gt; `HKEY_CURRENT_USER\Software\Classes\Directory\Background\shell\wsl-emacs\command`
&gt;
&gt; -- 追加するキーの例

`\` は階層を表しています。なぜ「例」かと言うと、作成するレジストリ・キーの中に命名の自由を認められたキーがあるからです。以下の表で確認してください。

| 新規キー名                            | 命名規則                | 編集の必要性 |
|:--------------------------------------:|:------------------------:|:------------------:|
| ...\\Background\\**shell**       | 規定値。変更不可 | 無し                |
| ...\\shell\\**wsl-emacs**         | 任意の文字列         | あり               |
| ...\\wsl-emacs\\**command** | 規定値。変更不可 | あり                |

レジストリ エディターで新規キーを作成するには、左ペインで親キーを右クリック &gt; *|新規(N)|* &gt; *|キー(K)|* と手繰ります。また、表にある編集とは、キーにデータを付加することです。これは、右ペインの *{(既定)}* を右クリック &gt; *|修正(M)...|* をクリックして、出現したダイアログの *{値のデータ(V):}* を編集します。以下にそれぞれの例を示します。

&gt; ### += 値のデータ(V): ###
&gt; ~~~txt
&gt; Spacemacsをここで開く
&gt; ~~~
&gt;
&gt; -- wsl-emacs キーの (既定) の「文字列の編集」の例

&gt; ### += 値のデータ(V): ###
&gt; ~~~cmd
&gt; wscript.exe &quot;C:\usr\bin\spacemacs.vbs&quot; &quot;%V&quot;
&gt; ~~~
&gt;
&gt; -- command キーの (既定) の「文字列の編集」の例

前者はコンテキスト・メニューに実際に表示される文字列です。後者は上で作成したスクリプト・ファイルの実際の絶対パスに置き換えてください。これで、エクスプローラからカレント・ディレクトリを指定して Spacemacs を起動することができるようになりました。

#### 参考サイト

* WSL 側で IME を自動で ON
    * [WSLでMozcで日本語入力](http://utimukat55.blogspot.com/2018/11/wslmozc.html &quot;気づいたらガジェ獣&quot;)
* Windows から Spacemacs を直接起動
    * [Question: how to create a windows shortcut for a Graphic linux app?](https://github.com/Microsoft/WSL/issues/3404#issuecomment-408094942 &quot;Issue #3404 · microsoft/WSL · GitHub&quot;)
    * [Some notes on &quot;Configuring a pretty and usable terminal emulator for WSL&quot;](https://gist.github.com/GregRos/7e9c67f150c9dc80843bdf85028f1789 &quot;GitHub&quot;)
    * [[VBScript] 指定した名前のプロセスが存在するか調べる](https://yozda.exblog.jp/15574326/ &quot;（ どーもボキです ＞ Z_￣∂&quot;)
* Windows Explorer の右クリック・メニューに登録
    * [任意のフォルダを右クリックして、Cygtermで開く](http://d.hatena.ne.jp/kkotaro0111/20120521/1337595346 &quot;UTAGEWORKS&quot;)
    * [［Shift］＋右クリックメニューに「コマンドウィンドウをここで開く」を復活させる方法](https://www.atmarkit.co.jp/ait/articles/1709/15/news025.html &quot;Tech TIPS - ＠IT&quot;)
    * [コンテキストメニューに任意のアプリケーションを追加する](https://laboradian.com/add-item-to-context-menu/ &quot;ラボラジアン&quot;)
    * [右クリックからmintty(bash)を開く](http://espresso3389.hatenablog.com/entry/20111001/1317466533 &quot;espresso3389の日記&quot;)

[ 001 ]: http://tokunakimochi.blog.jp/archives/1073947210.html
[ 002 ]: #f &quot;{WSL 2 が発表された}(https://devblogs.microsoft.com/commandline/announcing-wsl-2/ 'Announcing WSL 2 | Windows Command Line Tools For Developers')ので気長に待ちましょう&quot;
[ 003 ]: #f &quot;単純に fcitx-autostart を呼ぶと X サーバなしではシェルが立ち上がってこない&quot;
[ 004 ]: https://msdn.microsoft.com/ja-jp/library/cc392489.aspx &quot;Microsoft Visual Basic Scripting Edition&quot;
	                </textarea>
	                <dl class="article-tags"><dt>タグ ：</dt><dd><a href="http://tokunakimochi.blog.jp/tag/Spacemacs" title="Spacemacs タグの一覧へ">Spacemacs</a></dd><dd><a href="http://tokunakimochi.blog.jp/tag/Emacs" title="Emacs タグの一覧へ">Emacs</a></dd><dd><a href="http://tokunakimochi.blog.jp/tag/Fcitx" title="Fcitx タグの一覧へ">Fcitx</a></dd><dd><a href="http://tokunakimochi.blog.jp/tag/VBScript" title="VBScript タグの一覧へ">VBScript</a></dd><dd><a href="http://tokunakimochi.blog.jp/tag/WSL" title="WSL タグの一覧へ">WSL</a></dd><dd><a href="http://tokunakimochi.blog.jp/tag/WSL1" title="WSL1 タグの一覧へ">WSL1</a></dd></dl>

	              </div>
              </div>
              <!-- /記事本文 -->

              <!-- 記事フッター、カテゴリ、コメント、ソーシャルボタン -->
              <footer class="article-footer">
	              <ul class="article-meta">


		              <li class="article-category">
			              <dl><dt>カテゴリ:</dt><dd class="article-category1"><a href="http://tokunakimochi.blog.jp/archives/cat_1267400.html">Spacemacs</a></dd><dd class="article-category2"><a href="http://tokunakimochi.blog.jp/archives/cat_1267317.html">Windows Subsystem for Linux</a></dd></dl>
		              </li>

		              <li class="article-author">by <span itemprop="author">tokunakimochi</span></li>
	              </ul>
              </footer>
              <!-- /記事フッター、カテゴリ、コメント、ソーシャルボタン -->

            </article>
            <!-- /記事全体 -->

            <div id="ad2"></div>

            <script type="text/javascript"><!--
                                           if (ld_blog_vars) {
                                             ld_blog_vars.articles.push({
                                               id : '1073947210',
                                               permalink : 'http://tokunakimochi.blog.jp/archives/1073947210.html',
                                               title : 'Spacemacs on Windows Subsystem for Linux',
                                               categories : [ { id:'1267400', name:'Spacemacs', permalink:'http://tokunakimochi.blog.jp/archives/cat_1267400.html' }, { id:'1267317', name:'Windows Subsystem for Linux', permalink:'http://tokunakimochi.blog.jp/archives/cat_1267317.html' } ],
                                               date : '2019-03-31 20:17:53'
                                             });
                                           }
              //-->
            </script>



            <!--
                 <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                 xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/"
                 xmlns:dc="http://purl.org/dc/elements/1.1/">
                 <rdf:Description
                 rdf:about="http://tokunakimochi.blog.jp/archives/1073947210.html"
                 trackback:ping="http://trackback.blogsys.jp/livedoor/tokunakimochi/1073947210"
                 dc:title="Spacemacs on Windows Subsystem for Linux"
                 dc:identifier="http://tokunakimochi.blog.jp/archives/1073947210.html"
                 dc:subject="Spacemacs,Windows Subsystem for Linux"
                 dc:description="### 動機以前から興味のあった WSL の導入ですが、[NTEmacs @ ウィキ][ 01 ]のトップページの言及> 今の所、Windows で emacs を使うには WSL's emacs on VcXsrv がベストな選択だと思っています。  > （中略）  > WSL 上で emacs を使う場合の不便な点は概ね解消されて"
                 dc:creator="tokunakimochi"
                 dc:date="2019-03-31T20:17:53+09:00" />
                 </rdf:RDF>
            -->

            <!-- 記事全体 -->
            <article class="article" itemscope itemtype="http://schema.org/BlogPosting">
              <!-- 記事ヘッダー、記事タイトル -->
              <header class="article-header">
	              <p class="article-date"><time datetime="2019-03-31T20:17:53+09:00" pubdate="pubdate"><span class="article-date-year">2019</span><span class="article-date-month">Mar</span><span class="article-date-day">31</span></time></p>
	              <h1 class="article-title" itemprop="name"><a href="http://tokunakimochi.blog.jp/archives/1073947210.html" itemprop="url">Spacemacs on Windows Subsystem for Linux</a></h1>

              </header>
              <!-- /記事ヘッダー、記事タイトル -->

              <!-- 記事本文 -->
              <div class="article-body">
	              <div class="article-body-inner">

	                <textarea class="markdown" disabled>
### 動機

以前から興味のあった WSL の導入ですが、[NTEmacs @ ウィキ][ 01 ]のトップページの言及
&gt; 今の所、Windows で emacs を使うには WSL's emacs on VcXsrv がベストな選択だと思っています。
&gt; （中略）
&gt; WSL 上で emacs を使う場合の不便な点は概ね解消されていると思います。
&gt;
&gt; -- [NTEmacs @ ウィキ - 【お知らせ】][ 01 ]

と、[coLinux][ 02 ] の導入に逡巡している間に開発休止してしまったという苦い記憶から重い腰を上げてみました、、

環境は

* システムの種類
    * 64 ビット オペレーティング システム、x64 ベース プロセッサ
* エディション
    * Windows 10 Home
* バージョン
    * 1809
* ローカル アカウント
* [Scoop][ 03 ]、[Cmder][ 04 ] インストール済み
* モニター
    * BenQ X2200W
        * ２２インチ
        * 1680 × 1050 ドット  (-。－；) [ 05 ]

です

[ 01 ]: https://www49.atwiki.jp/ntemacs/ &quot;NTEmacs @ ウィキ - アットウィキ&quot;
[ 02 ]: http://www.colinux.org/ &quot;Cooperative Linux&quot;
[ 03 ]: https://scoop.sh/ &quot;A command-line installer for Windows&quot;
[ 04 ]: http://cmder.net/ &quot;Portable console emulator for Windows&quot;
[ 05 ]: #f &quot;２００８年１月３０日発売{らしい}(https://pc.watch.impress.co.jp/docs/2008/0123/benq.htm 'PC Watch')です。。。&quot;
	                </textarea><span class="article-continue"><a href="http://tokunakimochi.blog.jp/archives/1073947210.html#more">続きを読む</a></span>
	                <dl class="article-tags"><dt>タグ ：</dt><dd><a href="http://tokunakimochi.blog.jp/tag/Spacemacs" title="Spacemacs タグの一覧へ">Spacemacs</a></dd><dd><a href="http://tokunakimochi.blog.jp/tag/Ubuntu" title="Ubuntu タグの一覧へ">Ubuntu</a></dd><dd><a href="http://tokunakimochi.blog.jp/tag/VcXsrv" title="VcXsrv タグの一覧へ">VcXsrv</a></dd><dd><a href="http://tokunakimochi.blog.jp/tag/Mozc" title="Mozc タグの一覧へ">Mozc</a></dd><dd><a href="http://tokunakimochi.blog.jp/tag/urxvt" title="urxvt タグの一覧へ">urxvt</a></dd><dd><a href="http://tokunakimochi.blog.jp/tag/Homebrew" title="Homebrew タグの一覧へ">Homebrew</a></dd><dd><a href="http://tokunakimochi.blog.jp/tag/Emacs" title="Emacs タグの一覧へ">Emacs</a></dd><dd><a href="http://tokunakimochi.blog.jp/tag/WSL" title="WSL タグの一覧へ">WSL</a></dd><dd><a href="http://tokunakimochi.blog.jp/tag/WSL1" title="WSL1 タグの一覧へ">WSL1</a></dd></dl>

	              </div>
              </div>
              <!-- /記事本文 -->

              <!-- 記事フッター、カテゴリ、コメント、ソーシャルボタン -->
              <footer class="article-footer">
	              <ul class="article-meta">


		              <li class="article-category">
			              <dl><dt>カテゴリ:</dt><dd class="article-category1"><a href="http://tokunakimochi.blog.jp/archives/cat_1267400.html">Spacemacs</a></dd><dd class="article-category2"><a href="http://tokunakimochi.blog.jp/archives/cat_1267317.html">Windows Subsystem for Linux</a></dd></dl>
		              </li>

		              <li class="article-author">by <span itemprop="author">tokunakimochi</span></li>
	              </ul>
              </footer>
              <!-- /記事フッター、カテゴリ、コメント、ソーシャルボタン -->

            </article>
            <!-- /記事全体 -->



            <script type="text/javascript"><!--
                                           if (ld_blog_vars) {
                                             ld_blog_vars.articles.push({
                                               id : '1072112558',
                                               permalink : 'http://tokunakimochi.blog.jp/archives/1072112558.html',
                                               title : 'spacemacs コマンド メモ',
                                               categories : [ { id:'1267400', name:'Spacemacs', permalink:'http://tokunakimochi.blog.jp/archives/cat_1267400.html' }, { id:'119797', name:'macOS', permalink:'http://tokunakimochi.blog.jp/archives/cat_119797.html' } ],
                                               date : '2018-07-29 11:45:22'
                                             });
                                           }
              //-->
            </script>



            <!--
                 <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                 xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/"
                 xmlns:dc="http://purl.org/dc/elements/1.1/">
                 <rdf:Description
                 rdf:about="http://tokunakimochi.blog.jp/archives/1072112558.html"
                 trackback:ping="http://trackback.blogsys.jp/livedoor/tokunakimochi/1072112558"
                 dc:title="spacemacs コマンド メモ"
                 dc:identifier="http://tokunakimochi.blog.jp/archives/1072112558.html"
                 dc:subject="Spacemacs,macOS"
                 dc:description="#### helm-swoop & iedit ####![Spacemacs][ spacemacs ]1. 置き換えたい単語にカーソルを合わせて `SPC s S` で helm-swoop へ2. `C-c C-e` で編集モードへ3. 同じくカーソルを合わせて `SPC s e` で iedit へ4. _[I]_ などでインサート・ステートへ5. 編集6. `C-g`"
                 dc:creator="tokunakimochi"
                 dc:date="2018-07-29T11:45:22+09:00" />
                 </rdf:RDF>
            -->

            <!-- 記事全体 -->
            <article class="article" itemscope itemtype="http://schema.org/BlogPosting">
              <!-- 記事ヘッダー、記事タイトル -->
              <header class="article-header">
	              <p class="article-date"><time datetime="2018-07-29T11:45:22+09:00" pubdate="pubdate"><span class="article-date-year">2018</span><span class="article-date-month">Jul</span><span class="article-date-day">29</span></time></p>
	              <h1 class="article-title" itemprop="name"><a href="http://tokunakimochi.blog.jp/archives/1072112558.html" itemprop="url">spacemacs コマンド メモ</a></h1>

              </header>
              <!-- /記事ヘッダー、記事タイトル -->

              <!-- 記事本文 -->
              <div class="article-body">
	              <div class="article-body-inner">

	                <textarea class="markdown" disabled>
#### helm-swoop &amp; iedit ####
![Spacemacs][ spacemacs ]

1. 置き換えたい単語にカーソルを合わせて `SPC s S` で helm-swoop へ
2. `C-c C-e` で編集モードへ
3. 同じくカーソルを合わせて `SPC s e` で iedit へ
4. _[I]_ などでインサート・ステートへ
5. 編集
6. `C-g` で iedit 終了
7. `C-x C-s` でバッファに反映 helm-swoop 終了

[ spacemacs ]: https://cldup.com/znsZc-QvYJ.gif &quot;#dl {lbox:'検索・置き換え'}&quot;
	                </textarea>
	                <dl class="article-tags"><dt>タグ ：</dt><dd><a href="http://tokunakimochi.blog.jp/tag/Spacemacs" title="Spacemacs タグの一覧へ">Spacemacs</a></dd></dl>

	              </div>
              </div>
              <!-- /記事本文 -->

              <!-- 記事フッター、カテゴリ、コメント、ソーシャルボタン -->
              <footer class="article-footer">
	              <ul class="article-meta">


		              <li class="article-category">
			              <dl><dt>カテゴリ:</dt><dd class="article-category1"><a href="http://tokunakimochi.blog.jp/archives/cat_1267400.html">Spacemacs</a></dd><dd class="article-category2"><a href="http://tokunakimochi.blog.jp/archives/cat_119797.html">macOS</a></dd></dl>
		              </li>

		              <li class="article-author">by <span itemprop="author">tokunakimochi</span></li>
	              </ul>
              </footer>
              <!-- /記事フッター、カテゴリ、コメント、ソーシャルボタン -->

            </article>
            <!-- /記事全体 -->



            <script type="text/javascript"><!--
                                           if (ld_blog_vars) {
                                             ld_blog_vars.articles.push({
                                               id : '1067487469',
                                               permalink : 'http://tokunakimochi.blog.jp/archives/1067487469.html',
                                               title : 'GitHub SSH',
                                               categories : [ { id:'119797', name:'macOS', permalink:'http://tokunakimochi.blog.jp/archives/cat_119797.html' }, { id:'119805', name:'設定', permalink:'http://tokunakimochi.blog.jp/archives/cat_119805.html' } ],
                                               date : '2017-08-27 12:02:09'
                                             });
                                           }
              //-->
            </script>



            <!--
                 <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                 xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/"
                 xmlns:dc="http://purl.org/dc/elements/1.1/">
                 <rdf:Description
                 rdf:about="http://tokunakimochi.blog.jp/archives/1067487469.html"
                 trackback:ping="http://trackback.blogsys.jp/livedoor/tokunakimochi/1067487469"
                 dc:title="GitHub SSH"
                 dc:identifier="http://tokunakimochi.blog.jp/archives/1067487469.html"
                 dc:subject="macOS,設定"
                 dc:description="macOS Sierra をクリーン・インストールした MacBook Pro でこのブログの js css 関連を管理している [GitHub のリポジトリ][ 01 ]をクローンしようと思い`ghq get -p TokunaKimochi/tokunakimochi.blog.jp` [ 02 ]したところ### += :4 ###~~~sh...Permission denied (p"
                 dc:creator="tokunakimochi"
                 dc:date="2017-08-27T12:02:09+09:00" />
                 </rdf:RDF>
            -->

            <!-- 記事全体 -->
            <article class="article" itemscope itemtype="http://schema.org/BlogPosting">
              <!-- 記事ヘッダー、記事タイトル -->
              <header class="article-header">
	              <p class="article-date"><time datetime="2017-08-27T12:02:09+09:00" pubdate="pubdate"><span class="article-date-year">2017</span><span class="article-date-month">Aug</span><span class="article-date-day">27</span></time></p>
	              <h1 class="article-title" itemprop="name"><a href="http://tokunakimochi.blog.jp/archives/1067487469.html" itemprop="url">GitHub SSH</a></h1>

              </header>
              <!-- /記事ヘッダー、記事タイトル -->

              <!-- 記事本文 -->
              <div class="article-body">
	              <div class="article-body-inner">

	                <textarea class="markdown" disabled>
macOS Sierra をクリーン・インストールした MacBook Pro でこのブログの js css 関連を管理している [GitHub のリポジトリ][ 01 ]をクローンしようと思い`ghq get -p TokunaKimochi/tokunakimochi.blog.jp` [ 02 ]したところ

### += :4 ###
~~~sh
...
Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.
     error /usr/bin/git: exit status 128
~~~

と言われてしまいました。。
つい、数週間前には何の問題もなかったはずなのですが、、
試しに`ssh -T git@github.com`してみても

~~~sh
Permission denied (publickey).
~~~

と冷たい返事。
で、ググってみたところ[こんな記事][ 03 ]が、、
そのもの、ズバリ！の内容だったので`~/.ssh/config`を以下のように改変しました。

~~~diff
$ diff -u config.old config
--- config.old      2017-08-27 11:48:25.000000000 +0900
+++ config          2017-08-27 11:49:15.000000000 +0900
@@ -1,4 +1,4 @@
-Host github
+Host github github.com
   HostName github.com
   User git
   AddKeysToAgent yes
~~~

感謝！！


[ 01 ]: https://github.com/TokunaKimochi/tokunakimochi.blog.jp
[ 02 ]: #f &quot;{ghq}(https://github.com/motemen/ghq) は {Go}(http://golang.org) のお作法でリポジトリを管理する為のツール&quot;
[ 03 ]: http://qiita.com/shizuma/items/9906c3d45548c3319fa5 &quot;ssh -T git@github.com で Permission denied (publickey).&quot;
	                </textarea>
	                <dl class="article-tags"><dt>タグ ：</dt><dd><a href="http://tokunakimochi.blog.jp/tag/GitHub" title="GitHub タグの一覧へ">GitHub</a></dd><dd><a href="http://tokunakimochi.blog.jp/tag/SSH" title="SSH タグの一覧へ">SSH</a></dd></dl>

	              </div>
              </div>
              <!-- /記事本文 -->

              <!-- 記事フッター、カテゴリ、コメント、ソーシャルボタン -->
              <footer class="article-footer">
	              <ul class="article-meta">


		              <li class="article-category">
			              <dl><dt>カテゴリ:</dt><dd class="article-category1"><a href="http://tokunakimochi.blog.jp/archives/cat_119797.html">macOS</a></dd><dd class="article-category2"><a href="http://tokunakimochi.blog.jp/archives/cat_119805.html">設定</a></dd></dl>
		              </li>

		              <li class="article-author">by <span itemprop="author">tokunakimochi</span></li>
	              </ul>
              </footer>
              <!-- /記事フッター、カテゴリ、コメント、ソーシャルボタン -->

            </article>
            <!-- /記事全体 -->



            <script type="text/javascript"><!--
                                           if (ld_blog_vars) {
                                             ld_blog_vars.articles.push({
                                               id : '1067318883',
                                               permalink : 'http://tokunakimochi.blog.jp/archives/1067318883.html',
                                               title : 'GUI iTunes で取り込んだ CD を Windows CUI で整理',
                                               categories : [ { id:'1246745', name:'Windows', permalink:'http://tokunakimochi.blog.jp/archives/cat_1246745.html' }, { id:'', name:'', permalink:'' } ],
                                               date : '2017-08-14 15:51:17'
                                             });
                                           }
              //-->
            </script>



            <!--
                 <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                 xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/"
                 xmlns:dc="http://purl.org/dc/elements/1.1/">
                 <rdf:Description
                 rdf:about="http://tokunakimochi.blog.jp/archives/1067318883.html"
                 trackback:ping="http://trackback.blogsys.jp/livedoor/tokunakimochi/1067318883"
                 dc:title="GUI iTunes で取り込んだ CD を Windows CUI で整理"
                 dc:identifier="http://tokunakimochi.blog.jp/archives/1067318883.html"
                 dc:subject="Windows"
                 dc:description="定額ストリーミング・サービス全盛の昨今ですが Pioneer 製 BDD 搭載 Windows 10 機もまだ現役と言う事で、バッチファイルを書いてみました。Windows での dotfile(?) の運用法は未だに決まらないのでブログに貼っておきます。### += Rar.exe 最大強度で圧縮 ###~~~bat:"
                 dc:creator="tokunakimochi"
                 dc:date="2017-08-14T15:51:17+09:00" />
                 </rdf:RDF>
            -->

            <!-- 記事全体 -->
            <article class="article last-article" itemscope itemtype="http://schema.org/BlogPosting">
              <!-- 記事ヘッダー、記事タイトル -->
              <header class="article-header">
	              <p class="article-date"><time datetime="2017-08-14T15:51:17+09:00" pubdate="pubdate"><span class="article-date-year">2017</span><span class="article-date-month">Aug</span><span class="article-date-day">14</span></time></p>
	              <h1 class="article-title" itemprop="name"><a href="http://tokunakimochi.blog.jp/archives/1067318883.html" itemprop="url">GUI iTunes で取り込んだ CD を Windows CUI で整理</a></h1>

              </header>
              <!-- /記事ヘッダー、記事タイトル -->

              <!-- 記事本文 -->
              <div class="article-body">
	              <div class="article-body-inner">

	                <textarea class="markdown" disabled>
定額ストリーミング・サービス全盛の昨今ですが Pioneer 製 BDD 搭載 Windows 10 機もまだ現役と言う事で、バッチファイルを書いてみました。
Windows での dotfile(?) の運用法は未だに決まらないのでブログに貼っておきます。

### += Rar.exe 最大強度で圧縮 ###
~~~bat
:: シフトJIS CRLF
:: デスクトップに作成
:: 再帰的
@echo off
for /f &quot;usebackq delims=&quot; %%I in (`dir &quot;%USERPROFILE%\Music\iTunes\iTunes Media\Music&quot; /b /ad /s ^| iconv -f cp932 -t utf-8 ^| peco ^| iconv -f utf-8  -t cp932`) do (
    rar a -ep1 -r -m5 -k &quot;%USERPROFILE%\Desktop\%%~nI.rar&quot; &quot;%%I\&quot;
)
exit /b
~~~

### += qaac デフォルト設定で AIFF → AAC ###
~~~bat
:: シフトJIS CRLF
:: ディスクトップに作成
:: 非再帰的 単階層のみ対応
@echo off
set PREV_WORK_DIR=%CD%
for /f &quot;usebackq delims=&quot; %%I in (`dir &quot;%USERPROFILE%\Music\iTunes\iTunes Media\Music&quot; /b /ad /s ^| findstr /r &quot;%USERPROFILE%\\Music\\iTunes\\iTunes Media\\Music\\[^\\]*\\[^\\]*&quot; ^| iconv -f cp932 -t utf-8 ^| peco ^| iconv -f utf-8  -t cp932`) do (
	cd &quot;%%I&quot;
	if not exist &quot;%USERPROFILE%\Desktop\%%~nI\*&quot; mkdir &quot;%USERPROFILE%\Desktop\%%~nI&quot;
    qaac *.aif -d &quot;%USERPROFILE%\Desktop\%%~nI&quot;
)
cd &quot;%PREV_WORK_DIR%&quot;
exit /b
~~~
	                </textarea>


	              </div>
              </div>
              <!-- /記事本文 -->

              <!-- 記事フッター、カテゴリ、コメント、ソーシャルボタン -->
              <footer class="article-footer">
	              <ul class="article-meta">


		              <li class="article-category">
			              <dl><dt>カテゴリ:</dt><dd class="article-category1"><a href="http://tokunakimochi.blog.jp/archives/cat_1246745.html">Windows</a></dd></dl>
		              </li>

		              <li class="article-author">by <span itemprop="author">tokunakimochi</span></li>
	              </ul>
              </footer>
              <!-- /記事フッター、カテゴリ、コメント、ソーシャルボタン -->

            </article>
            <!-- /記事全体 -->





            <!-- google_ad_section_end -->

            <!-- ページ送り -->
            <div class="pager">
              <div class="pager-inner"><div class="index-navigator-outer nextpage"><ul class="index-navigator"><li class="paging-number"><ol class="paging-number"><li class="current" title="現在の表示ページ"><span>1</span></li><li><a href="http://tokunakimochi.blog.jp/?p=2" title="2ページ目へ">2</a></li><li><a href="http://tokunakimochi.blog.jp/?p=3" title="3ページ目へ">3</a></li><li><a href="http://tokunakimochi.blog.jp/?p=4" title="4ページ目へ">4</a></li></ol></li><li class="paging-next"><a rel="next" href="http://tokunakimochi.blog.jp/?p=2" title="次のページへ">&raquo;</a></li></ul></div></div>
            </div>

            <!-- /ページ送り -->

            <!-- /#main-inner --></div>
            <!-- /#main --></div>

            <!-- サイドバー -->
            <aside id="sidebar" class="column">
              <div id="sidebar-inner">




                <script type="text/javascript" src="http://parts.blog.livedoor.jp/plugin/ldblog_calendar_plugin.js"></script>
                <script type="text/javascript">var calendar_url_pattern_hash_176156='3367761713'</script>
                <script type="text/html" id="ldblog_calendar_default_template-176156">
                  <% month_names = ['','Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']; %>
                  <% month_names_long = ['','January','February','March','April','May','June','July','August','September','October','November','December']; %>
                  <% wdays = ['S','M','T','W','T','F','S']; %>
                  <% month_format = function(year, month){ return(month_names_long[month]+" "+year.toString()); }; %>
                  <div class="calendarheadbody"><div class="calendarhead" id="calendarhead-176156">
                    &nbsp;&nbsp;<%= month_format(year, month) %>&nbsp;&nbsp;
                  </div></div>
                  <div class="caltop"></div>
                  <div class="calbody">
                    <table cellpadding="0" cellspacing="0" border="0" class="caltbl calendartable">
                      <tr>
                        <td width="100%" class="caltblwkbg calendarwd">
                          <table cellpadding="2" cellspacing="0" width="100%" border="0" class="caltblwk">
                            <tr>
                              <% for ( var i = 0; i < 7; i++ ) { %>
                              <td width="14%" align="center" class="<% if (i == 0) { %>sun<% } else if (i == 6) { %>sat<% } else { %>weekday<% } %>"><span class="calendarweek"><%= wdays[i] %><span></td>
                                <% } %>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td width="100%" class="caltbldaybg">
                          <table cellpadding="2" cellspacing="0" width="100%" border="0" class="caltblday">
                            <% for ( var i = 0; i < cal.length; i++ ) { %>
                            <tr class="<% if (i % 2) { %>even<% } else { %>odd<% } %>">
                              <% for ( var j = 0; j < cal[i].length; j++) { %>
                              <td width="14%" align="center" class="caloff calendard"><span class="calendar"<% if (cal[i][j] > 0) { %> id="calendar-176156-day-<%= cal[i][j]%>"<% } %>><%= cal[i][j] %></span></td>
                              <% } %>
                            </tr>
                            <% } %>
                          </table></td>
                      </tr>
                    </table>
                  </div>
                  <div class="calbottom"></div>
                </script>

                <div class="plugin-calendar_default sidewrapper" id="calendarplugin-176156">
                  <script type="text/javascript">(function () { var ldcal = new ldBlogCalendarPlugin(176156); ldcal.init(); })();</script>
                </div><!-- // plugin-calendar_default -->

                <div class="plugin-recent_articles sidewrapper">
                  <div class="sidetitlebody">
                    <div class="sidetitle">最新記事</div>
                  </div>
                  <div class="sidetop"></div>
                  <div class="side">
                    <div class="sidebody"><a href="http://tokunakimochi.blog.jp/archives/1074874898.html">Spacemacs on WSL を使い易く</a></div>

                    <div class="sidebody"><a href="http://tokunakimochi.blog.jp/archives/1073947210.html">Spacemacs on Windows Subsystem for Linux</a></div>

                    <div class="sidebody"><a href="http://tokunakimochi.blog.jp/archives/1072112558.html">spacemacs コマンド メモ</a></div>

                    <div class="sidebody"><a href="http://tokunakimochi.blog.jp/archives/1067487469.html">GitHub SSH</a></div>

                    <div class="sidebody"><a href="http://tokunakimochi.blog.jp/archives/1067318883.html">GUI iTunes で取り込んだ CD を Windows CUI で整理</a></div>

                    <div class="sidebody"><a href="http://tokunakimochi.blog.jp/archives/1058199396.html">Windows 10 クリティカル ダメージ（追憶編）</a></div>

                    <div class="sidebody"><a href="http://tokunakimochi.blog.jp/archives/1041810019.html">`exec-path-from-shell` が微妙・・</a></div>

                    <div class="sidebody"><a href="http://tokunakimochi.blog.jp/archives/1019187584.html">OS X Yosemite へアップグレード</a></div>

                    <div class="sidebody"><a href="http://tokunakimochi.blog.jp/archives/1013201581.html">Windows 7 再インストール</a></div>

                    <div class="sidebody"><a href="http://tokunakimochi.blog.jp/archives/1011283176.html">スクリーンショット メモ</a></div>
                  </div>
                  <div class="sidebottom"></div>
                </div><!-- // plugin-recent_articles -->









                <div class="plugin-monthly sidewrapper" id="plugin-monthly-176158">
                  <div class="sidetitlebody">
                    <div class="sidetitle">アーカイブ</div>
                  </div>
                  <div class="sidetop"></div>
                  <div class="side">

                    <div class="sidebody"><a href="http://tokunakimochi.blog.jp/archives/2019-06.html">June 2019</a></div>

                    <div class="sidebody"><a href="http://tokunakimochi.blog.jp/archives/2019-03.html">March 2019</a></div>

                    <div class="sidebody"><a href="http://tokunakimochi.blog.jp/archives/2018-07.html">July 2018</a></div>

                    <div class="sidebody"><a href="http://tokunakimochi.blog.jp/archives/2017-08.html">August 2017</a></div>

                    <div class="sidebody"><a href="http://tokunakimochi.blog.jp/archives/2016-06.html">June 2016</a></div>

                    <div class="sidebody"><a href="http://tokunakimochi.blog.jp/archives/2015-10.html">October 2015</a></div>

                    <div class="sidebody"><a href="http://tokunakimochi.blog.jp/archives/2015-02.html">February 2015</a></div>

                    <div class="sidebody"><a href="http://tokunakimochi.blog.jp/archives/2014-11.html">November 2014</a></div>

                    <div class="sidebody"><a href="http://tokunakimochi.blog.jp/archives/2014-10.html">October 2014</a></div>

                    <div class="sidebody"><a href="http://tokunakimochi.blog.jp/archives/2014-07.html">July 2014</a></div>

                    <div class="sidebody"><a href="http://tokunakimochi.blog.jp/archives/2014-04.html">April 2014</a></div>

                    <div class="sidebody"><a href="http://tokunakimochi.blog.jp/archives/2014-03.html">March 2014</a></div>

                    <div class="sidebody"><a href="http://tokunakimochi.blog.jp/archives/2014-01.html">January 2014</a></div>

                    <div class="sidebody"><a href="http://tokunakimochi.blog.jp/archives/2013-12.html">December 2013</a></div>

                    <div class="sidebody"><a href="http://tokunakimochi.blog.jp/archives/2013-10.html">October 2013</a></div>

                  </div>
                  <div class="sidebottom"></div>
                </div><!-- // plugin-monthly -->

                <div class="plugin-categorize sidewrapper" id="plugin-categorize-176159">
                  <div class="sidetitlebody">
                    <div class="sidetitle">カテゴリー</div>
                  </div>
                  <div class="sidetop"></div>
                  <div class="side">







                    <div class="sidebody category-parent"

                    ><a href="http://tokunakimochi.blog.jp/archives/cat_39235.html">blog設定 (1)</a>

                    </div>




                    <div class="sidebody category-parent"

                    ><a href="http://tokunakimochi.blog.jp/archives/cat_48542.html">Markdown (1)</a>

                    </div>




                    <div class="sidebody category-parent"

                    ><a href="http://tokunakimochi.blog.jp/archives/cat_119794.html">プログラミング (1)</a>

                    </div>




                    <div class="sidebody category-child"

                    ><a href="http://tokunakimochi.blog.jp/archives/cat_119795.html">Perl (1)</a>

                    </div>




                    <div class="sidebody category-parent"

                    ><a href="http://tokunakimochi.blog.jp/archives/cat_119797.html">macOS (5)</a>

                    </div>




                    <div class="sidebody category-parent"

                    ><a href="http://tokunakimochi.blog.jp/archives/cat_119800.html">データベース (1)</a>

                    </div>




                    <div class="sidebody category-child"

                    ><a href="http://tokunakimochi.blog.jp/archives/cat_119801.html">PostgreSQL (1)</a>

                    </div>




                    <div class="sidebody category-parent"

                    ><a href="http://tokunakimochi.blog.jp/archives/cat_119805.html">設定 (4)</a>

                    </div>




                    <div class="sidebody category-parent"

                    ><a href="http://tokunakimochi.blog.jp/archives/cat_234030.html">Emacs (5)</a>

                    </div>




                    <div class="sidebody category-child"

                    ><a href="http://tokunakimochi.blog.jp/archives/cat_1267400.html">Spacemacs (3)</a>

                    </div>




                    <div class="sidebody category-parent"

                    ><a href="http://tokunakimochi.blog.jp/archives/cat_1246745.html">Windows (5)</a>

                    </div>




                    <div class="sidebody category-child"

                    ><a href="http://tokunakimochi.blog.jp/archives/cat_1267317.html">Windows Subsystem for Linux (2)</a>

                    </div>




                  </div>
                  <div class="sidebottom"></div>
                </div><!-- // plugin-categorize -->

                <div class="plugin-tag_cloud sidewrapper">
                  <div class="sidetitlebody">
                    <div class="sidetitle">タグクラウド</div>
                  </div>
                  <div class="sidetop"></div>
                  <div class="side">
                    <ul class="tagcloud">
                      <li class="tag-weight-0 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/.zshenv" title=".zshenv タグの一覧へ">.zshenv</a></li>
                      <li class="tag-weight-1 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/App::cpanminus" title="App::cpanminus タグの一覧へ">App::cpanminus</a></li>
                      <li class="tag-weight-0 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/DBD::Pg" title="DBD::Pg タグの一覧へ">DBD::Pg</a></li>
                      <li class="tag-weight-0 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/el-get" title="el-get タグの一覧へ">el-get</a></li>
                      <li class="tag-weight-4 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/Emacs" title="Emacs タグの一覧へ">Emacs</a></li>
                      <li class="tag-weight-0 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/Fcitx" title="Fcitx タグの一覧へ">Fcitx</a></li>
                      <li class="tag-weight-0 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/Font" title="Font タグの一覧へ">Font</a></li>
                      <li class="tag-weight-0 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/FontForge" title="FontForge タグの一覧へ">FontForge</a></li>
                      <li class="tag-weight-0 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/GitHub" title="GitHub タグの一覧へ">GitHub</a></li>
                      <li class="tag-weight-0 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/google-code-prettify" title="google-code-prettify タグの一覧へ">google-code-prettify</a></li>
                      <li class="tag-weight-2 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/Homebrew" title="Homebrew タグの一覧へ">Homebrew</a></li>
                      <li class="tag-weight-0 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/Markdown" title="Markdown タグの一覧へ">Markdown</a></li>
                      <li class="tag-weight-0 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/marked" title="marked タグの一覧へ">marked</a></li>
                      <li class="tag-weight-0 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/Mozc" title="Mozc タグの一覧へ">Mozc</a></li>
                      <li class="tag-weight-1 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/OSX" title="OSX タグの一覧へ">OSX</a></li>
                      <li class="tag-weight-0 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/percol" title="percol タグの一覧へ">percol</a></li>
                      <li class="tag-weight-1 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/Perl" title="Perl タグの一覧へ">Perl</a></li>
                      <li class="tag-weight-0 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/pip" title="pip タグの一覧へ">pip</a></li>
                      <li class="tag-weight-0 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/Plack" title="Plack タグの一覧へ">Plack</a></li>
                      <li class="tag-weight-1 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/PostgreSQL" title="PostgreSQL タグの一覧へ">PostgreSQL</a></li>
                      <li class="tag-weight-0 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/PSGI" title="PSGI タグの一覧へ">PSGI</a></li>
                      <li class="tag-weight-0 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/python" title="python タグの一覧へ">python</a></li>
                      <li class="tag-weight-2 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/Spacemacs" title="Spacemacs タグの一覧へ">Spacemacs</a></li>
                      <li class="tag-weight-0 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/ssh" title="ssh タグの一覧へ">ssh</a></li>
                      <li class="tag-weight-0 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/SSH" title="SSH タグの一覧へ">SSH</a></li>
                      <li class="tag-weight-0 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/Ubuntu" title="Ubuntu タグの一覧へ">Ubuntu</a></li>
                      <li class="tag-weight-0 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/urxvt" title="urxvt タグの一覧へ">urxvt</a></li>
                      <li class="tag-weight-0 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/VBScript" title="VBScript タグの一覧へ">VBScript</a></li>
                      <li class="tag-weight-0 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/VcXsrv" title="VcXsrv タグの一覧へ">VcXsrv</a></li>
                      <li class="tag-weight-0 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/Windows" title="Windows タグの一覧へ">Windows</a></li>
                      <li class="tag-weight-0 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/Windows10" title="Windows10 タグの一覧へ">Windows10</a></li>
                      <li class="tag-weight-1 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/WSL" title="WSL タグの一覧へ">WSL</a></li>
                      <li class="tag-weight-1 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/WSL1" title="WSL1 タグの一覧へ">WSL1</a></li>
                      <li class="tag-weight-0 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/Xcode" title="Xcode タグの一覧へ">Xcode</a></li>
                      <li class="tag-weight-0 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/Yosemite" title="Yosemite タグの一覧へ">Yosemite</a></li>
                      <li class="tag-weight-2 tag-lifetime-4"><a href="http://tokunakimochi.blog.jp/tag/zsh" title="zsh タグの一覧へ">zsh</a></li>
                    </ul>
                  </div>
                  <div class="sidebottom"></div>
                </div><!-- // plugin-tag_cloud -->





              </div>


            </aside>
            <!-- /サイドバー -->

            <p class="to-pagetop"><a href="#"><img src="http://parts.blog.livedoor.jp/img/usr/default_2012/common/to_pagetop.png" width="70" height="70" alt="このページのトップヘ" /></a></p>

            <!-- /#content --></div>
      <!-- /#container --></div>

    <!-- ブログのフッター -->
            <footer id="blog-footer">
              <!-- Blog Common Footer // --><div id="footer"><p>Powered by <a href="http://blog.livedoor.com/" title="ライブドアブログ">ライブドアブログ</a></p></div><!-- // Blog Common Footer -->
            </footer>
            <!-- /ブログのフッター -->

            <!-- /#wrapper --></div>


  <!-- Add Body Tag // -->
            <script defer src="https://cdn.jsdelivr.net/npm/loadjs@3.6.1/dist/loadjs.min.js"></script>
            <script defer src="./loadjsrc.js"></script>
            <script type="text/javascript">
              (function(){
                var traq = document.createElement('script'); traq.type = 'text/javascript'; traq.async = true;
                traq.src = 'http://t.blog.livedoor.jp/u.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(traq, s);
              })();
            </script>
            <noscript>
              <img src="http://t.blog.livedoor.jp/u.gif" alt="traq">
            </noscript>
            <!-- // Add Body Tag -->

  </body>
</html>
