div.article-body-inner {

  h1, h2, h3, h4, h5, h6 {
    position: relative;

    a.md-header-anchor {
      display: none;
      padding-right: 0.4em;
    }

    &:hover {

      a.md-header-anchor {
        color: $pm-link-color;
        display:inline-block;

        &:hover {
          text-decoration: none;
          color: $vlink-color;
        }

        svg {
          fill: currentColor;
          width: 0.7em;
          height: 0.7em;
        }
      }
    }
  }

  @mixin h16($top: .1em, $left: -1em) {
    &:hover {
      a.md-header-anchor {
        position: absolute;
        top: $top;
        left: $left;
      }
    }
  }

  h1, h3 {
    @include h16(0, -1.05em);
  }

  h2 {
    @include h16(.05em, -1.05em);
  }

  h4 {
    @include h16(-0.1em, -1em);
  }

  h5, h6 {
    @include h16(-0.2em, -1em);
  }

  h3.filename, h4.note {

    a.md-header-anchor {
      color: $pm-link-color;
      display: block;
      margin-left: 0.3em;
      margin-right: -1.6em;
      visibility: hidden;
      float: left;

      svg {
        width: 0.9em;
        height: 0.9em;
      }
    }

    &:hover {

      a.md-header-anchor {
        position: static;
        visibility: visible;
      }
    }
  }

  h4.note {

    a.md-header-anchor {
      margin-left: -1.3em;
      padding-right: 0.5em;
    }
  }
}
