.footnote {
  font-family: 'Vollkorn', serif;
}

sup.footnote {
  font-size: 110%;

  > a {
    padding-right: 3px;
    text-decoration: none;
    color: #189086;
  }
}

hr.footnote {
  width: 60%;
  margin-top: 1.5em;
  margin-left: 0;
  text-align: left;
  border-style: solid;
  border-color: #333333;
  border-width: 1px 0 0 0;
}

p.footnote {
  line-height: 1.2em;
  margin-top: 0;
  margin-bottom: 2em;
}

ol.footnote {
  line-height: 1.2em;
  margin-top: 0;
  margin-bottom: 2em;
  font-size: 16px;

  a {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Helvetica, Arial, Verdana, sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #333333;

    &.another-destination {
      font-style: italic;
      color: #185e90;
    }
  }
}
