/* layout-2col */
/* |----------- #container -------------| */
/* |------------ #content --------------| */
/* |----- #main -----+---- #sidebar ----| */
/* |-- #main-inner --+- #sidebar-inner -| */
/* |L               R|L                R| */

$container-Width: 1100px;
$sidebar-Width: 320px;

$main-Width: $container-Width - $sidebar-Width;

/* 端末の想定横幅 */
$pc-min-w: 780px;

@mixin pc-min {
  @media (min-width: ($pc-min-w)) {
    @content;
  }
}

$text-color: #1f1f1f;
/* 差別化された背景色 */
$diff-bcolor: rgba(240, 240, 240, 0.6);
/* リンクカラー */
$link-color: #D31145;
$vlink-color: #d06682;
$hlink-color: #f56300;
$li-link-color: #B1002F;
$pm-link-color: rgba(0, 0, 0, 0.54);

/* 基本フォントファミリー */
$common-ffamily: blog-jp-emoji-font,-apple-system,BlinkMacSystemFont,"Segoe UI","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","Meiryo UI","Helvetica Neue",Helvetica,Arial,sans-serif;

/* SVG */

@mixin svg-folder($svg-rgba: rgba(#4c4c4c, 0.7)) {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 -57 512 511'%3E%3Cpath fill='#{$svg-rgba}' d='M506.04 180.988c-7.782-12.547-21.532-20.047-36.782-20.047H129.695c-16.832 0-32.14 9.489-39.011 24.18L.87 373.43c3.39 13.789 16.27 24.09 31.61 24.09h361.27a40.753 40.753 0 0 0 36.46-22.555l77.63-155.594c6.129-12.312 5.45-26.66-1.8-38.383zm0 0' /%3E%3Cpath fill='#{$svg-rgba}' d='M72.402 156.156c6.864-14.687 22.176-24.18 39.012-24.18h319.754V91.079c0-16.86-14.223-30.578-31.703-30.578H213.02c-.274 0-.461-.07-.532-.121l-33.37-46.66C173.206 5.44 163.444.5 153.015.5H31.71C14.223.5 0 14.219 0 31.078v276.875zm0 0' /%3E%3C/svg%3E") no-repeat 50%;
}

@mixin svg-tag($svg-rgba: rgba(#4c4c4c, 0.7)) {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 436.38 436.38'%3E%3Cpath fill='#{$svg-rgba}' d='M340.38 23.224H206.396a32.01 32.01 0 0 0-22.624 9.376L9.372 206.968c-12.496 12.496-12.496 32.752 0 45.264l133.984 133.984c12.496 12.496 32.752 12.496 45.248 0l174.4-174.368c6-6.016 9.376-14.16 9.376-22.656V55.224c0-17.68-14.32-32-32-32zm-56 112c-13.248 0-24-10.752-24-24s10.752-24 24-24 24 10.752 24 24-10.752 24-24 24z' /%3E%3Cpath fill='#{$svg-rgba}' d='m404.38 55.224-.016 148.944a27.79 27.79 0 0 1-8.16 19.68L218.988 401.064l2.72 2.72c12.496 12.496 32.752 12.496 45.248 0l160.032-160a31.959 31.959 0 0 0 9.392-22.624V87.224c0-17.68-14.32-32-32-32z' /%3E%3C/svg%3E") no-repeat 50%;
}

@mixin svg-more($svg-rgba: rgba(#52bfef, 1)) {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 330 330'%3E%3Cpath fill='#{$svg-rgba}' d='M165 0C74.019 0 0 74.019 0 165s74.019 165 165 165 165-74.019 165-165S255.981 0 165 0zM85 190c-13.785 0-25-11.215-25-25s11.215-25 25-25 25 11.215 25 25-11.215 25-25 25zm80 0c-13.785 0-25-11.215-25-25s11.215-25 25-25 25 11.215 25 25-11.215 25-25 25zm80 0c-13.785 0-25-11.215-25-25s11.215-25 25-25 25 11.215 25 25-11.215 25-25 25z' /%3E%3C/svg%3E") no-repeat 50%;
}

@mixin svg-loupe($svg-rgba: rgba(#4c4c4c, 0.35)) {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 512 512'%3E%3Cpath fill='#{$svg-rgba}' d='M206.082 72.35c-73.74 0-133.733 59.993-133.733 133.733s59.993 133.733 133.733 133.733 133.733-59.992 133.733-133.733S279.824 72.35 206.082 72.35zm81.504 133.733c0-44.941-36.562-81.504-81.504-81.504V94.162c61.713 0 111.921 50.208 111.921 111.921h-30.417z' /%3E%3Cpath fill='#{$svg-rgba}' d='m496.633 422.44-93.298-93.299-26.343 26.343-14.898-14.898c31.186-36.123 50.072-83.148 50.072-134.504C412.166 92.449 319.717 0 206.083 0S0 92.449 0 206.083s92.449 206.082 206.082 206.082c51.355 0 98.38-18.885 134.504-50.072l14.898 14.898-26.343 26.343 93.299 93.298c9.909 9.909 23.084 15.367 37.097 15.367 14.013 0 27.188-5.457 37.097-15.366C506.542 486.725 512 473.55 512 459.537c0-14.013-5.458-27.189-15.367-37.097zm-290.551-52.207c-90.512 0-164.15-73.637-164.15-164.15s73.638-164.15 164.15-164.15 164.15 73.638 164.15 164.15-73.636 164.15-164.15 164.15z' /%3E%3C/svg%3E") no-repeat 50%;
}
