div.output-message {
  color: #eee;
  background-color: #333;
  border: 1px solid rgba(102, 102, 102, 0.5);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.8) 2px 2px 3px inset, rgba(255, 255, 255, 0.8) 1px 1px 0;
  padding: 1em 1em 1em 2em;
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;

  > p {
    margin: 0;
  }
}

aside.note {
  background-color: $diff-bcolor;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2px inset, rgba(255, 255, 255, 0.8) 1px 1px 0;
  line-height: 1.5;
  padding: 1em 2em;

  > h4 {
    color: #777;
    text-align: center;
    font-size: 95%;
    font-weight: normal;
    margin: 0.2em 0;

    &:before {
      content: '\2014 \00A0';
    }
    &:after {
      content: '\00A0 \2014';
    }
  }

  > p {
    margin: 0;
  }
}
