span.menu {
  color: #08c;
  padding: 0.07em 0.1rem;
  background-color: #fcfcfc;
  background-image: linear-gradient(#fcfcfc, #eee);
  border-bottom: 1px solid #d5d5d5;
  font-family: "Sukhumvit Set", "Helvetica Neue", "Helvetica", "Arial", "Verdana", sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.4em;
  white-space: nowrap;
}
span.dialog {
  background-color: #08c;
  border-color: #004d73 #069 #069;
  border-image: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 5px 1px 1px;
  box-shadow: 5px 5px 10px rgba(102, 102, 102, 0.8);
  color: #fff;
  font-family: "Sukhumvit Set","Helvetica Neue","Helvetica","Arial","Verdana",sans-serif;
  font-weight: bold;
  font-size: 88%;
  line-height: 3.3em;
  margin: 0.1em 0.3em;
  padding: 0.4em 1rem;
  white-space: nowrap;
}
span.key-word {
  background-image: linear-gradient(rgba(254, 181, 201, 0) 60%, rgba(254, 181, 201, 1) 50%);
  font-weight: bold;
}
kbd.from-em {
  min-width: 10px;
  padding: 0.1em 0.6em;
  margin: 0.1em 0.3em;
  background: #FFF;
  border-radius: 3px;
  border-top: 1px solid #F5F5F5;
  box-shadow: 0 0 20px #E8E8E8 inset, 0 1px 0 #C3C3C3, 0 1px 0 #C9C9C9, 0 1px 2px #333;
  color: #666;
  text-shadow: 0 1px 0 #F5F5F5;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.25em;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
}
