/* layout-2col */
/* |------------ #container ------------| */
/* |------------- #content -------------| */
/* |------ #main -----+--- #sidebar ----| */
/* |--- #main-inner --+ #sidebar-inner -| */
/* |L                R|L               R| */

$container-Width: 960px;
$sidebar-Width: 243px;

$main-Width: $container-Width - $sidebar-Width;
