/* layout-2col */
/* ┌──────  #container ─────┐ */
/* ├──────  #content ──────┤ */
/* ├── #main ───┬── #sidebar ─┤ */
/* ├─ #main-inner ─┼ #sidebar-inner ┤ */
/* │L               R│L              R│ */

$container-Width: 960px;

$sidebar-inner-Width: 203px;
$sidebar-inner-Padding-LR: 20px;
$sidebar-Width: $sidebar-inner-Width + ( $sidebar-inner-Padding-LR * 2 );

$main-inner-Padding-LR: 40px;
$main-Width: $container-Width - $sidebar-Width;
$main-inner-Width: $main-Width - ( $main-inner-Padding-LR * 2 );
