/* layout-2col */
/* ┌──────  #container ─────┐ */
/* ├──────  #content ──────┤ */
/* ├── #main ───┬── #sidebar ─┤ */
/* ├─ #main-inner ─┼ #sidebar-inner ┤ */
/* │L               R│L              R│ */

$container-Width: 960px;

$sidebar-inner-Width: 243px;
$sidebar-inner-Padding-LR: 20px;
$sidebar-Width: 243px;

$main-inner-Padding-LR: 40px;
$main-Width: $container-Width - $sidebar-Width;
$main-inner-Width: $main-Width;
