div.article-body {

  h3.filename {
    background: linear-gradient(to bottom, #f7f7f7 0%, #cfcfcf 5%, #aaaaaa 100%);
    border: 1px solid #9c9c9c;
    border-bottom-color: rgba(0,0,0,.54);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: #444;
    display: block;
    font-family: $common-ffamily;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    margin: 0;
    padding: .4rem 0;
    overflow: visible;
  }

  div.wrapping-code.named {

    > h3.filename > button.stretch-x {
      display: inline-block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: .8rem;
      margin: auto;
      width: 1.15rem;
      height: 1.15rem;
      line-height: 1.15rem;
      border-radius: 50%;
      background-color: #27c93f;
      border: 1px solid #2bac2d;
      box-shadow: 1px 1px 1px -1px rgba(50, 100, 50, 0.9);
      visibility: hidden;

      &:hover {

        /* like macOS button => https://www.youtube.com/watch?v=qjfZ3-ppBt4 */
        &:before, &:after {
          opacity: 1;
        }
      }

      &:before, &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 1px;
        opacity: 0;
      }

      &:before {
        width: 70%;
        height: 1px;
        background-color: #024D0F;
      }
      &:after {
        width: 1px;
        height: 70%;
        background-color: #024D0F;
      }
    }

    &:hover {

      @include pc-min {
        > h3.filename > button.stretch-x {
          visibility: visible;
        }
      }
    }
  }

  div.wrapping-code.named.stretched {
    position: absolute;
    /* 幅、ポジションの設定は js 側で */
    z-index: 2;
  }

}
