h3.filename {
  background: linear-gradient(to bottom, #f7f7f7 0%, #cfcfcf 5%, #aaaaaa 100%);
  border: 1px solid #9c9c9c;
  border-bottom-color: #333;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  color: #444;
  display: block;
  font-family: "Helvetica Neue","Helvetica","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Arial","Verdana","sans-serif";
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 2.1rem;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  margin: 0;
  padding: .2rem 0;
  overflow: visible;
}
