/* 後で PostCSS で実体を読み込む事 */
@import 'sanitize.css';

/* フォントフェイス */
@font-face {
  font-family: blog-jp-emoji-font;

  src: local('Apple Color Emoji'),
       local('Segoe UI Emoji'),
       local('Segoe UI Symbol'),
       local('Noto Color Emoji'),
       local('Android Emoji');

  /* Emoji unicode blocks */
  unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+2600-26FF;
  font-display: swap;
}
@font-face {
  font-family: YuMinchoB;

  src: local('YuMincho Demibold'),
       local('Yu Mincho Demibold');
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: blog-jp-monospace;

  src: local('Noto Sans Mono CJK JP'),
       local('Osaka-Mono'),
       local('BIZ UDGothic');
  font-display: swap;
}
