span.kaomoji > code {
  color: $text-color;
  background-color: transparent;
  border: 0 none transparent;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.4rem;
  white-space: pre;
}
